  {% if cart.item_count > 0 %}
<form class="cart" action="/cart" method="post" novalidate>
  <ul class="cart__items">  {% for item in cart.items %}
    <li class="cart__each">
        {% render 'cart-item' item:item forloop:forloop %}
        {% endfor %}
    </li>
  </ul>
  <div class="cart__infos">
    <div class="cart__infos__estimated"><span class="grad recosemi">Grand Total INCL. VAT</span><span class="subtotal recosemi">{{ cart.total_price | money }}</span></div>
    <div class="cart__infos__btns">
      <button class="btn-checkout btn-hover" type="submit" name="checkout"><span class="static">Proceed to Checkout</span><span class="hover" data-hover="Proceed to Checkout Proceed to Checkout ">Proceed to Checkout Proceed to Checkout </span></button><a class="btn-checkout btn-hover cream-v" href="{{ shop.url }}"><span class="static">Continue shopping</span><span class="hover" data-hover="Continue shopping Continue shopping ">Continue shopping Continue shopping </span></a>
    </div>
  </div>
</form>  {% else %}<span class="empty-bag">Your bag is empty</span>  {% endif %}