
<div class="loader-home">
  <div class="loader-home__hold e-flex-col">
    <div class="loader-home__counting e-flex"><span class="loader-home__counter">000</span>
      <div class="separator"></div><span class="loader-home__hundred">100</span>
    </div>
  </div>
</div>