
<div class="cookies e-flex">
  <div class="cookies__hold e-rel e-flex-col">
    <div class="cookies__close">X</div>
    <div class="cookies__text">This website uses cookies. They improve your navigation and the quality of our site. By navigating, you accept the placement and use of cookies as described in our Privacy Policy.</div>
  </div>
</div>