
<div class="ctn-overlay e-fixed e-wvw e-hvh">
  <svg class="shape-overlays" viewBox="0 0 100 100" preserveAspectRatio="none">
    <path class="shape-overlays__path"></path>
    <path class="shape-overlays__path"></path>
  </svg>
</div>