@import '../partials/alias-mixins'

.page.page-launches
    overflow-x: hidden



header.header-laun
    @include desk
        margin: 0 0 4.1rem 0
        height: 100vh



.header-laun__colle
    margin: 10.5rem 0 0
    padding: 0 33.5rem
    @include desk
        margin: 14.5vh 0 0


.header-laun__hold
    position: relative


.header-laun__colle__hold
    display: flex
    gap: 4.9rem


h1.header-laun__title
    font-size: 30rem
    position: absolute
    top: 13.4rem
    white-space: nowrap
    @include desk
        --space: .5rem
        --time: 20s
        animation: marquee-launches-header var(--time) infinite linear
        top: 15vh
        white-space: nowrap
        &:after
            content: attr(data-text)
            padding-left: var(--space)

@keyframes marquee-launches-header
    0%
        transform: translateX(0)
    100%
        transform: translateX(-50%)


.header-laun .prod-card__each
    background: var(--soft)
    @include desk
        height: 70.5vh
        width: 59.53vh

.header-laun .prod-card__each .sizes
    @include desk
        margin: 3.8vh 0 0 

.header-laun__cntrl-view
    margin: 4.9rem 0 0
    @include desk
        margin: 4.3vh 0 0


.header-laun__cntrl-view__hold
    display: flex
    justify-content: space-between
    gap: 2.8rem


button.scroll-down
    width: 15.8rem


.header-laun__colle a.prod-img
    @include desk
        height: 52.578vh

.main-launches
    @include mobile
        margin: 42px 0 0

.main-launches .dropping-card-regular .dropping-card__infos
    @include desk
        width: 45.45rem