section.products
    border-bottom: 1px solid var(--dark)
    border-top: 1px solid var(--dark)
    display: flex
    justify-content: space-between


div#gf-products
    display: grid !important


.gf-left #gf-tree
    width: 33.3vw
    margin: 0


.gf-left #gf-tree+#gf-grid
    border-left: 1px solid var(--dark)
    margin: 0
    padding: 0
    width: 66.5vw


section.products
    border-top: 1px solid var(--dark)
    justify-content: space-between


#gf-grid .colle-cards
    grid-template-columns: repeat(2,33.4vw)


.gf-filter-contents
    padding: 0 2.9rem


.gf-block-title h3
    display: flex
    justify-content: space-between
    position: relative


span.gf-Checkbox
    border-radius: 50%


.checked .gf-Checkbox
    background-size: 105%


.gf-scroll.gf-block-scroll::-webkit-scrollbar-thumb, body>#gf-tree .gf-filter-contents::-webkit-scrollbar-thumb
    background: var(--color)


.globo-selected-items-wrapper
    padding: 1rem 2.9rem


.gf-block-title.hidden-xs h3 span
    font-family: var(--dharma)
    font-size: 4rem
    padding: 2rem 0


a.gf-refine-toggle.hidden-xs
    font-family: var(--recosemi)
    font-size: 1.6rem
    margin: 1rem 0 0
    text-decoration: underline
    text-transform: uppercase


#gf-tree .gf-label
    font-size: 1.1rem


.gf-block-title span
    font-size: 1.6rem
    font-family: var(--recosemi)


.gf-option-block
    border-bottom: 1px solid var(--dark)


.gf-left #gf-tree .globo-selected-items-wrapper .globo-selected-items
    border-bottom: 1px solid var(--dark)


span.gf-count
    font-size: 1.2rem


.selected-item.gf-option-label span
    font-size: 1.1rem
    color: var(--soft)


#gf-tree .selected-item.gf-option-label
    background: var(--dark)
    border-radius: 50px


.selected-item.gf-option-label a
    padding: 0.7rem 1.5rem


.gf-filter-contents span.gf-label
    font-size: 1.4rem !important



#gf-tree a
    font-size: 1.4rem

div#gf-controls-container
    margin: 0
    padding: 0
    padding: 2rem var(--gap) 0


.gf-actions
    margin: 0
    padding: 0




.theme-store-id-380.spf-layout-theme #gf-products, .theme-store-id-679.spf-layout-theme #gf-products, .theme-store-id-796.spf-layout-theme #gf-products
    margin: 0



input.gf-controls-search-input
    background: none
    border-bottom: 1px solid var(--dark)
    border: none
    font-family: var(--reco)
    font-size: 1.4rem


button.gf-controls-search-button
    margin: 0



button.gf-controls-search-button
    margin: 0 0 0 -0.8rem



span.gf-summary
    font-size: 1.4rem


.sort-by.limit-by.hidden-xs
    font-size: 1.6rem
    background: transparent


select#setLimit
    font-size: 1.6rem
    font-family: var(--reco)


.sort-by
    font-size: 1.6rem
    background: transparent


label.sort-by-toggle
    font-size: 1.6rem



@media only screen and (max-width:1024px)
    #gf-grid .colle-cards
        grid-template-columns: 1fr 1fr
    

    div#gf-products
        margin: 1.9rem 0 0 -1px !important
        width: calc(100vw + 3px)!important
    

    main.main-collection
        overflow: hidden
    


@media only screen and (min-width: 580px) and (max-width: 1024px)
    #gf-grid .colle-cards
        grid-template-columns: repeat(2,33.4vw) 
    
    .theme-store-id-380.spf-layout-theme #gf-products, .theme-store-id-679.spf-layout-theme #gf-products, .theme-store-id-796.spf-layout-theme #gf-products
        margin-left: 0px !important
    




/******** NOTIFY  ********/
a.BIS_trigger.btn-hover
    justify-content: center



/******** WISHLIST ********/
.swym-ui-component .swym-wishlist-container-title-bar
    background: var(--dark) !important


span.swym-user-text.swym-value.swym-value-1
    color: var(--soft) !important
    text-transform: uppercase !important


.swym-ui-component .swym-simple-wishlist-modal .swym-modal-content .swym-close-btn
    display: flex !important
    justify-content: flex-end !important


h2.swym-wishlist-main-title.swym-heading.swym-heading-1.swym-is-heading
    font-family: var(--dharma) !important
    text-transform: uppercase !important
    color: var(--dark) !important
    font-size: 4rem !important
    letter-spacing: 0 !important


.swym-simple-wishlist-container-content
    background: var(--soft) !important


.swym-ui-component .swym-wishlist-grid
    max-width: none !important
    width: 94% !important
    padding: 0 0 1rem 0 !important


button.swym-delete-btn.swym-nav.swym-nav-1.swym-is-button
    border: 1px solid var(--dark) !important
    background: transparent !important
    border-radius: 50% !important
    width: 2.1rem !important
    height: 2.1rem !important


.swym-ui-component .swym-wishlist-grid .swym-wishlist-item .swym-delete-btn .swym-icon
    display: flex !important
    align-items: center !important
    justify-content: center !important


.swym-ui-component .swym-wishlist-grid .swym-wishlist-item .swym-delete-btn .swym-icon::before
    font-size: 0.65rem !important


.swym-ui-component .swym-wishlist-grid .swym-wishlist-item
    background: transparent !important !important
    width: 26.3rem !important
    display: flex !important
    flex-direction: column !important
    align-items: center !important


.swym-ui-component .swym-wishlist-grid .swym-wishlist-item .swym-title
    font-family: var(--dharma) !important
    text-transform: uppercase !important
    color: var(--dark) !important
    text-align: center !important
    font-size: 3rem !important


.swym-ui-component .swym-wishlist-grid .swym-wishlist-image-wrapper
    width: 14.8rem !important


.swym-ui-component .swym-wishlist-grid .swym-wishlist-image-wrapper img
    width: 14.8rem !important
    height: 14.8rem !important


button.swym-add-to-cart-btn.swym-button.swym-button-1.swym-is-button.swym-bg-2.swym-color-4.swym-is-button
    background: var(--color) !important
    font-family: var(--recosemi) !important
    color: var(--dark) !important
    border: 1px solid var(--dark) !important
    border-radius: 20px !important
    font-size: 1.2rem !important
    padding: 0.5rem 1rem !important


.swym-ui-component .swym-product-price .swym-product-final-price
    display: none !important


a.swym-wishlist-item.swym-is-anchor
    padding: 1.3rem 0 !important


.swym-ui-component .swym-modal


.swym-ui-component .swym-simple-wishlist-modal .swym-modal-content
    max-width: 83% !important



.swym-ui-component .swym-wishlist-grid .swym-wishlist-item .swym-variant-title
    font-family: var(--recosemi) !important
    font-size: 1.4rem !important


.swym-ui-component .swym-wishlist-detail-separator
    background: var(--dark) !important


.swym-ui-component .swym-wishlist-grid .swym-wishlist-item
    background: transparent !important
    margin: 0 1.7rem 1.9rem 0 !important
    width: 25.33rem!important


.swym-ui-component .swym-wishlist-grid .swym-wishlist-item:nth-child(4n)
    margin-right: 0 !important

div#swym-anchor
    display: none