.page.page-404(data-ispage="404", data-scroll-content)
    header.header-404.e-wvw.e-hvh.e-flex-col
        .header-404__hold.e-flex-col
            span.big-t 404 ERROR
            p.e-upper.recosemi Sorry, page not found
            a(href="{{ shop.url }}", title="ADDRESS").header-404__btn.btn-hover
                span.static RETURN HOME
                span.hover(data-hover="RETURN HOME RETURN HOME ") RETURN HOME RETURN HOME  


    //-| {% render  'myfooter' %}