.page.page-404(data-ispage="404", data-scroll-content)
    header
        span 404
        p It looks like that page does not exist. Please check the URL and try again.
        a(href="{{ shop.url }}", data-barba-prevent) GO BACK


    | {% render  'myfooter' %}