
|   {% assign fields = article.metafields.post %}
.page.page-article( data-ispage="article", data-scroll-content)
    //-header
    header.header-article
        .header-article__hold.e-hold
            .header-article__title.e-dharma.e-upper {{ article.title }}
            ul.header-article__infos

                li.header-article__infos__each
                    .reco Category
                    .recosemi ARTICLE
            
                li.header-article__infos__each
                    .reco Date
                    .recosemi {{ article.date }}
            
                li.header-article__infos__each
                    .reco Author
                    .recosemi {{ article.author }}
            
                li.header-article__infos__each
                    .reco Read Time
                    .recosemi {{ fields.read_time }}
                    
            
                li.header-article__infos__each
                    button.btn-hover
                        span.static SHARE
                        span.hover(data-hover="SHARE SHARE ") SHARE SHARE 

            .header-article__img
                img(src="{{ article.image.src | img_url: 'master' }}" alt="{{ article.title }}").img-load


    main.main-article


        //- =========================  FULL WIDTH  ========================= -//
        //- =========================  FULL WIDTH  ========================= -//
        
            |   {% if fields.full_image != blank %}
            section.full-width-img 
                //-  colors
                ul.full-width-img__imgs 
                    |   {% for multi_images in fields.full_image %} 
                    |   {% for image in multi_images %} 
                    li.full-width-img__imgs__each 
                        img(src="{{ image.src }}" alt="{{ image.alt }}").img-load 
                    
                    |   {% endfor %}
                    |   {% endfor %}
                
            |   {% endif %}




        //- =========================  HEADING TEXT 1  ========================= -//
        //- =========================  HEADING TEXT 1  ========================= -//
        |   {% if fields.heading_1 != blank %}
        section.full-width-img 
            .heading {{ fields.heading_1 }}
            .parag {{ fields.parag1 }}
        |   {% endif %}






        //-
            section
            |   {{ article.content }}
                    
            section
                |   {% if blog.next_article %}
                a(href="{{ blog.next_article.url }}", title="{{ blog.next_article.title }}")
                    img(src="{{ blog.next_article.image.src | img_url: 'master' }}" alt="{{ blog.next_article.title }}").img-load
                    span {{ blog.next_article.title }}
                |   {% else %}
                a(href="{{ blog.previous_article.url }}", title="{{ blog.previous_article.title }}")
                    img(src="{{ blog.previous_article.image.src | img_url: 'master' }}" alt="{{ blog.previous_article.title }}").img-load
                    span {{ blog.next_article.title }}
                |   {% endif %}

    | {% render  'myfooter' %}