.page.page-blog(data-ispage="blog", data-scroll-content)
    header.header-blog
        .header-blog__hold.e-hold
            button.btn-hover.cream-v
                span.static FILTER SEARCH
                span.hover(data-hover="FILTER SEARCH      FILTER SEARCH      ") FILTER SEARCH      FILTER SEARCH       


    main.main-blog
        ul
            | {% for tag in collection.all_tags %}
            | {% if current_tags contains tag %}
            li.active {{ tag | link_to_remove_tag: tag }}
            |  {% else %}
            li {{ tag | link_to_add_tag: tag }}
            |  {% endif %}
            | 	{% endfor %}

        section.blog-page

            //- BLOG
            |   {% paginate blog.articles by 11 %}
            .blog-page__hold.e-hold


                .blog-page__list
                    //- only featured
                    |   {% assign count = 0 %}
                    |   {% for article in blog.articles  %}
                    |   {% render 'article-card' art: article %}
                    |   {% endfor %}



                //- =========================  PAGINATES  ========================= -//
                //- =========================  PAGINATES  ========================= -//
                | {% if paginate.pages > 1 %}
                .blog-page__paginate(data-currentpage!="{{ paginate.current_page }}")
                    .blog-page__paginate__hold
                        | {%- for part in paginate.parts -%}
                        .blog-page__paginate__each
                                a(href="{{ part.url }}")
                                    | {%- if part.title == paginate.current_page -%}
                                    button.t-white  {{ part.title }}
                                    | {%- else -%}
                                    button  {{ part.title }}
                                    | {%- endif -%}
                        
                        | {%- endfor -%}
                | {% endif %}
            |   {% endpaginate %}




    | {% render  'myfooter' %}