.page.page-cart(data-ispage="cart", data-scroll-content)
    .page-cart__content(data-cartcounter="{{ cart.item_count }}")
    
        //- =========================  COLLECTION  ========================= -//
        //- =========================  COLLECTION  ========================= -//
        |   {% section 'cart-collection' %}


        //- =========================  CONTENT  ========================= -//
        //- =========================  CONTENT  ========================= -//
        |   {% render 'cart-content' %}


    | {% render  'myfooter' %}

