.page.page-collection(data-ispage="collection", data-scroll-content)


    //- =========================  HEADER  ========================= -//
    //- =========================  HEADER  ========================= -//
    header.header-coll 
        .header-coll__hold.e-hold
            .header-coll__bread.no-mobile
                | {% render 'breadcrumbs' %}
            .header-coll__qty
                span.no-mobile Results | 
                span.e-upper.recosemi {{ collection.products_count }} PRODUCTS


            .header-coll__btn-filter.no-desk
                button.btn-hover.trg-filter
                    span.static FILTERS
                    span.hover(data-hover="FILTERS      FILTERS      ") FILTERS      FILTERS      
                


            .header-coll__btn-filter.no-mobile
                button.btn-hover.trg-filter
                    span.static SHOW FILTERS
                    span.hover(data-hover="SHOW FILTERS      SHOW FILTERS      ") SHOW FILTERS      SHOW FILTERS      
    
            .header-coll__sort-by
                span.no-mobile Sort by:  
                select#SortBy(name='SortBy')
                    |   {% for option in collection.sort_options %}
                    <option value="{{ option.value }}" {% if option.value == collection.sort_by %}selected{% endif %}>{{ option.name }}</option>
                    |         {% endfor %}

        //-| {% section 'filter-prod' %}




            <ul class="subnav clearfix"> <li{% unless current_tags %}class="active"{% endunless %}>{% if collection.handle %}<a href="/collections/{{collection.handle}}{% if collection.sort_by %}?sort_by={{collection.sort_by}}{% endif %}">All</a>{% elsif collection.current_type %}<a href="{{collection.current_type | url_for_type | sort_by: collection.sort_by}}">All</a>{% elsif collection.current_vendor %}<a href="{{collection.current_vendor | url_for_vendor | sort_by: collection.sort_by}}">All</a>{% endif %}</li>{% for tag in collection.all_tags %}{% if current_tags contains tag %}<li class="active">{{tag | link_to_remove_tag: tag}}</li>{% else %}<li>{{tag | link_to_tag: tag}}</li>{% endif %}{% endfor %}</ul><style>.clearfix:before, .clearfix:after{content: ""; display: table;}.clearfix:after{clear: both;}.clearfix{zoom: 1;}/* Subnavigation styles */ .subnav{clear: both; list-style-type: none; margin: 35px 0; padding: 0;}.subnav li{display: block; float: left;}.subnav li a{display: block; height: 28px; line-height: 28px; padding: 0 7px; -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px; background: #eee; margin: 0 7px 7px 0; color: #666;}.subnav li a:hover, .subnav li.active a{background: #666; color: #fff;}</style>

    main.main-collection
        
        //- =========================  PRODUCTS  ========================= -//
        //- =========================  PRODUCTS  ========================= -//
        
        | {% paginate collection.products by 18 %}
        section.products
            .products__hold.colle-cards
                |   {% for product in collection.products %}

                //- calling prod
                |   {% render 'product-card' prod: product %}

                |   {% else %}
                p No products in this collection
                |   {% endfor %}




            //- =========================  PAGINATES  ========================= -//
            //- =========================  PAGINATES  ========================= -//
            .colle__paginate
                .colle__paginate__hold.e-hold
                    | {% if paginate.pages > 1 %}
                    | {%- for part in paginate.parts -%}
                    .colle__paginate__each
                        a(href="{{ part.url }}")
                            button.e-serif.t-dark.e-rel.e-curp  {{ part.title }}
                                .line-pagine.line-static.e-gray.e-abs.e-wp
                                | {%- if part.title == paginate.current_page -%}
                                .line-pagine.line-active.e-color.e-abs.e-wp
                                | {%- endif -%}
                    
                    | {%- endfor -%}
                    | {% endif %}
        |   {% endpaginate %}

    | {% render  'myfooter' %}


