.page.page-index(data-ispage="index", data-scroll-content)



    //- =========================  HEADER  ========================= -//
    //- =========================  HEADER  ========================= -//
    |   {% section 'index-header' %}

    



    main.main-index

        //- =========================  COLLECTIONS  ========================= -//
        //- =========================  COLLECTIONS  ========================= -//
        |   {% section 'index-cols' %}




        //- =========================  DROPPED  ========================= -//
        //- =========================  DROPPED  ========================= -//
        |   {% section 'index-dropped' %}





        //- =========================  SOON  ========================= -//
        //- =========================  SOON  ========================= -//
        |   {% section 'index-soon' %}





        //- =========================  DROPPING SINGLE  ========================= -//
        //- =========================  DROPPING SINGLE  ========================= -//
        |   {% section 'dropping-card' %}





        //- =========================  BLOG  ========================= -//
        //- =========================  BLOG  ========================= -//
        |   {% section 'index-blog' %}



    | {% render  'myfooter' %}


