.page.page-index(data-ispage="index", data-scroll-content)



    //- =========================  HEADER  ========================= -//
    //- =========================  HEADER  ========================= -//
    |   {% section 'index-header' %}

    



    main.main-index
        
        //- =========================  PRODUCTS  ========================= -//
        //- =========================  PRODUCTS  ========================= -//
            |   {% section 'index-products' %}



        //- =========================  BLOG  ========================= -//
        //- =========================  BLOG  ========================= -//
            |   {% section 'index-blog' %}



    | {% render  'myfooter' %}


