.page.page-index(data-ispage="index", data-scroll-content)



    //- =========================  HEADER  ========================= -//
    //- =========================  HEADER  ========================= -//
        |   {% section 'index-header' %}

    
        header.header
            h1.dharma TESTING FONT
            h1.dharmaex TESTING FONT
            h1.sans TESTING FONT
            h1.openbold TESTING FONT
            h1.opensemi TESTING FONT
            h1.reco TESTING FONT
            h1.recosemi TESTING FONT
            h1.recomed TESTING FONT
            h1.serif TESTING FONT
            h1.serif {{ settings.color_body_text }}
            h1.serif {{ settings.color_borders }}



    main.main-index
        section.form.e-wvw.e-hvh.e-flex
            #mc_embed_signup
                form#mc-embedded-subscribe-form.validate(action='https://geschwister.us1.list-manage.com/subscribe/post?u=3377b0cba85cae4e2be67288c&id=b09fc4f79f' method='post' name='mc-embedded-subscribe-form' target='_blank' novalidate='')
                    #mc_embed_signup_scroll
                        h2 Subscribe
                        .mc-field-group
                            label(for='mce-EMAIL') Email Address 
                            input#mce-EMAIL.required.email(type='email' value='' name='EMAIL')
                        #mce-responses.clear
                            #mce-error-response.response(style='display:none')
                            #mce-success-response.response(style='display:none')
                        // real people should not fill this in and expect good things - do not remove this or risk form bot signups
                        div(style='position: absolute; left: -5000px;' aria-hidden='true')
                            input(type='text' name='b_3377b0cba85cae4e2be67288c_b09fc4f79f' tabindex='-1' value='')
                        .clear
                            input#mc-embedded-subscribe.button(type='submit' value='Subscribe' name='subscribe')

            
        //- =========================  PRODUCTS  ========================= -//
        //- =========================  PRODUCTS  ========================= -//
            |   {% section 'index-products' %}



        //- =========================  BLOG  ========================= -//
        //- =========================  BLOG  ========================= -//
            |   {% section 'index-blog' %}



    | {% render  'myfooter' %}


