.page.page-collection(data-ispage="collection", data-scroll-content)


    //- =========================  HEADER  ========================= -//
    //- =========================  HEADER  ========================= -//
    
    |   {% section 'collection-filter' %}

    main.main-collection
        .e-wvw.e-hvh.e-flex 
            h1 TRILLA
        
        //- =========================  PRODUCTS  ========================= -//
        //- =========================  PRODUCTS  ========================= -//
        section.products
            .products__hold
                .collection-decor  {{ collection.title }}
                |   {% for product in collection.products %}

                //- calling prod
                |   {% render 'product-card' prod: product %}

                |   {% else %}
                p No products in this collection
                |   {% endfor %}

        //-
            |   {% paginate collection.products by 3 %}
            |   {% if paginate.pages > 1 %}
            |   {{ paginate | default_pagination }}
            |   {% endif %}
            |   {% endpaginate %}

    | {% render  'myfooter' %}


