
| {% assign description = product.description %}
| {% assign details = '' %}
| {% assign shipping = '' %}
| {% assign descr = '' %}

| {% if product.description contains '---' %}


| {% assign description = product.description | split: '---' | first %}
| {% assign description_array = product.description | split: '---' %}
| {% assign productInfoKeys = 'Details|Shipping|Description' | split: '|' %}

//- assigning keys
|   {% for key in productInfoKeys %}
|   {% assign split_key = key | prepend: '~*~' | append: '~*~' %}
|       {% if product.description contains split_key %}
|           {% if key == 'Details' %}
|               {% assign details = product.description | split: split_key | last | split: '---' | first %}
|           {% elsif key == 'Shipping' %}
|               {% assign shipping = product.description | split: split_key | last | split: '---' | first %}
|           {% elsif key == 'Description' %}
|               {% assign descr = product.description | split: split_key | last | split: '---' | first %}
|           {% endif %}

|       {% endif %}

|   {% endfor %}


| {% endif %}



//- =========================  size-guide  ========================= -//
//- =========================  size-guide  ========================= -//
|   {% section 'size-guide-mens' %}
|   {% section 'size-guide-womens' %}
|   {% section 'size-guide-toddler' %}
|   {% section 'size-guide-presch' %}


.page.page-product(data-barba="container", data-barba-namespace="product", data-ispage="product", data-scroll-content)
    header.header-prod
        .header-prod__bread
            |   {% render 'breadcrumbs' %}
        .header-prod__hold

            //- _____ thumbs
            .header-prod__thumbs
                .header-prod__thumbs__travel
                    |   {% for image in product.images %}
                    .header-prod__thumbs__each
                        img(src="{{ image.src | img_url: 'master' }}" alt="{{ image.alt | escape }}" ).img-load
                    |   {% endfor %}

            //- _____ gallery
            .header-prod__gallery
                .header-prod__gallery__travel
                    |   {% for image in product.images %}
                    .header-prod__gallery__each
                        img(src="{{ image.src | img_url: 'master' }}" alt="{{ image.alt | escape }}" ).img-load
                    |   {% endfor %}
                
            //- _____ infos
            .header-prod__infos
                //-  title
                h1.header-prod__title.dharmaex.e-upper {{ product.title }} {{ product.metafields..date_acf.date_acf }} {{ product.metafields.descr.descr }}  

                //-  prices
                | {% if product.compare_at_price_max != 0 %}
                span.sale-price {{ product.compare_at_price_max  | money  }}
                | {% endif %}
                .regular-price {{ product.price | money }}


                |   {% render 'add-to-cart' %}

                //-  descrip
                .prod-descr
                    .prod-descr__content {{ descr }} 

                    
                    //- DESIGN
                    |   {% if details != blank %}
                    .ctn-accord
                        //---- accd
                        .ctn-accord__item
                            .trg-acc.e-curp
                                .svg-arrow !{arrowRight}
                                h5.click DETAILS
                            .hold-content {{ details }}
                    |   {% endif %}
        

                    //- SIZE
                    |   {% if shipping != blank %}
                    .ctn-accord
                        //---- accd
                        .ctn-accord__item
                            .trg-acc.e-curp
                                .svg-arrow !{arrowRight}
                                h5.click Shipping / Returns
                            .hold-content {{ shipping }} 
                    |   {% endif %}
        

    main.main-prod



        section.may-also
            span.dharma RECOMMENDED
            |   {% render 'cross-sell' %}



        //- =========================  index-blog  ========================= -//
        //- =========================  index-blog  ========================= -//
        |   {% section 'index-blog' %}

    | {% render  'myfooter' %}