

|   {% assign fields = product.metafields %}

//- =========================  size-guide  ========================= -//
//- =========================  size-guide  ========================= -//
    |   {% section 'size-guide-mens' %}
    |   {% section 'size-guide-womens' %}
    |   {% section 'size-guide-toddler' %}
    |   {% section 'size-guide-presch' %}




.page.page-product(data-barba="container", data-barba-namespace="product", data-ispage="product", data-scroll-content,  class!="{% if product.metafields.drop.drop_month %}dropsoon-product{% endif %}", data-variant="{{ product.selected_variant.id }}")
    header.header-prod(class="{% if product.variant.selected == true %}isvariant{%endif%}")
        .header-prod__bread
            |   {% render 'breadcrumbs-prod' %}


        .header-prod__hold

            //- _____ thumbs
            .header-prod__thumbs.no-mobile
                .header-prod__thumbs__travel
                    |   {% for image in product.images %}
                    .header-prod__thumbs__each.hover-img
                        img(src="{{ image.src | img_url: 'master' }}" alt="{{ image.alt | escape }}" ).img-load
                    |   {% endfor %}

            //- _____ gallery
            .header-prod__gallery
                .header-prod__gallery__travel
                    |   {% for image in product.images %}
                    .header-prod__gallery__each
                        img(src="{{ image.src | img_url: 'master' }}" alt="{{ image.alt | escape }}" ).img-load
                    |   {% endfor %}

                .header-prod__swipe-count.no-desk
                    .header-prod__swipe-count__hold.e-hold
                        span.header-prod__swipe.recosemi SWIPE
                        .header-prod__count
                            span.count-dyna 1
                            span.count-static /4



            //- =========================  INFOS  ========================= -//
            //- =========================  INFOS  ========================= -//
            
            .header-prod__infos
                .header-prod__infos__hold.e-hold

                    //-  title
                    h1.header-prod__title.dharmaex.e-upper {{ product.title }}  

                    
                    //-  colors
                    |   {% if fields.descr.colors != blank %}
                    ul.header-prod__colors 
                        |   {% for value in fields.descr.colors.colors %} 
                        li {{ value }}
                        |   {% endfor %}  
                    
                    |   {% endif %}



    
                    //-  prices & guides
                    .header-prod__prices-guides
                        div(class="{% if product.compare_at_price_max != 0 %} is-sale {% endif %}").header-prod__prices
                            span.regular-price {{ product.price | money }}
                            | {% if product.compare_at_price_max != 0 %}
                            span.sale-price {{ product.compare_at_price_max  | money  }}
                            | {% endif %}
                        .header-prod__guide
                            a(href="#").recosemi.e-upper.underline SIZE GUIDE

                    //- COUNTDOWN
                    |   {% if product.metafields.drop.drop_month %}
                    |   {% assign drop_day = product.metafields.drop.drop_day %}
                    |   {% assign drop_month = product.metafields.drop.drop_month %}
                    |   {% assign drop_hour = product.metafields.drop.drop_hour %}
                    .countdown(data-day="{{ drop_day }}", data-month="{{ drop_month }}", data-hour="{{ drop_hour }}")
                        ul.countdown__hold
                            li.countdown__numbers
                                span.countdown__days 00
                                span.countdown__hours 00
                                span.countdown__mins 00
                                span.countdown__secs 00
                            li.countdown__infos
                                span.infos__days DAYS
                                span.infos__hours HOURS
                                span.infos__mins MINS
                                span.infos__secs SECS
                    |   {% endif %}


                    |   {% render 'add-to-cart' %}



                    //- =========================  NOTIFY  ========================= -//
                    //- =========================  NOTIFY  ========================= -//
                    
                    |   {% if product.metafields.drop.drop_month %}
                    a(href="#").prod-card__notify.btn-hover.notifyme.klaviyo-bis-trigger
                        span.static NOTIFY ME
                        span.hover(data-hover="NOTIFY ME      NOTIFY ME      NOTIFY ME      NOTIFY ME      NOTIFY ME      ") NOTIFY ME      NOTIFY ME      NOTIFY ME      NOTIFY ME      NOTIFY ME      
                    |   {% endif %}



                    //- =========================  description  ========================= -//
                    //- =========================  description  ========================= -//
                    
                    .prod-descr
                        .prod-descr__content.no-desk {{ fields.descr.description }} 

                        //- details
                        |   {% if fields.descr.details != blank %}
                        .ctn-accord
                            .ctn-accord__item
                                .trg-acc.e-curp
                                    h5.click.recosemi DETAILS
                                    .plus-accd
                                        .plus-accd__line.indic-static
                                        .plus-accd__line.indic-rotate
                                .hold-content 
                                    .no-mobile {{ fields.descr.description }}  
                                    .details {{ fields.descr.details }}
                        |   {% elsif product.description  %}
                        .ctn-accord
                            .ctn-accord__item
                                .trg-acc.e-curp
                                    h5.click.recosemi DETAILS
                                    .plus-accd
                                        .plus-accd__line.indic-static
                                        .plus-accd__line.indic-rotate
                                .hold-content 
                                    .details {{ product.description }}
                        |   {% endif %}
            


                        //- shipping
                        |   {% if fields.descr.shipping != blank %}
                        .ctn-accord
                            .ctn-accord__item
                                .trg-acc.e-curp
                                    h5.click.recosemi SHIPPING / RETURNS
                                    .plus-accd
                                        .plus-accd__line.indic-static
                                        .plus-accd__line.indic-rotate
                                .hold-content {{ fields.descr.shipping }} 
                        |   {% else %}
                        .ctn-accord
                            .ctn-accord__item
                                .trg-acc.e-curp
                                    h5.click.recosemi SHIPPING / RETURNS
                                    .plus-accd
                                        .plus-accd__line.indic-static
                                        .plus-accd__line.indic-rotate
                                .hold-content You may choose to restrict the collection or use of your personal information in the following ways: Whenever you are asked to fill in a form on the website, look for the box that you can click to indicate that you do not want the information to be used by anybody for direct marketing purposes.
                        |   {% endif %}

    main.main-prod



        section.may-also
            .may-also__hold.e-hold.dharma.t-color.js-split RECOMMENDED
            |   {% render 'cross-sell' %}



        //- =========================  index-blog  ========================= -//
        //- =========================  index-blog  ========================= -//
        |   {% section 'index-blog' %}

    | {% render  'myfooter' %}