
nav.breadcrumbs(role="navigation" aria-label="breadcrumbs").e-flex
    a(href="{{ shop.url }}") Home | 

    | {% assign collectionAllTags = collection.tags %}
    span {{collection.title}} |  
    span.recosemi Lastest {{collection.title}}