|   {% unless template == 'index' or template == 'cart' or template == 'list-collections' %}
nav.breadcrumbs.breadcrumbs-prod(role="navigation" aria-label="breadcrumbs").no-mobile.e-flex
    a(href="{{ shop.url }}") Home   |   
    a(href="{{ shop.url }}/collections/all") Shop All   |   
    |   {% for collection in product.collections %}
    a(href="{{ collection.url }}") {{ collection.title }}   |   
    |   {% endfor %}
    span.recosemi {{ product.title }}
|   {% endunless %}





| {% for collection in collections %}
h1 {{collection.title}}

| {% endfor %}

| {% for item in collections['kids'].products  limit: 6 %}
h1 {{item.title}}

| {% endfor %}