
//- ___img
a(href="{{ item.url | within: collections.all }}").item-img
    img(src="{{ item | img_url: 'master' }}" alt="{{ item.title | escape }}")

//- ___title
a(href="{{ item.url }}").item-title {{ item.product.title }}

//- ___variant
p.item-size Size: #[span.recosemi {{ item.variant.title }}]

//- ___remove
- var removeIcon = '<svg xmlns="http://www.w3.org/2000/svg" width="20px" viewBox="0 0 20 20"><g fill="none" stroke="var(--dark)"><circle cx="10" cy="10" r="10" stroke="none"/><circle cx="10" cy="10" r="9.5"/></g><path fill="var(--dark)" d="M14.218 6.736l-.823-.823-3.264 3.263-3.263-3.263-.823.823 3.263 3.263-3.263 3.264.823.823 3.263-3.264 3.263 3.263.823-.823-3.263-3.263z"/></svg>'
button(href="/cart/change?line={{ forloop.index }}&amp;quantity=0", data-line="{{ forloop.index }}" data-id="{{ item.variant.id }}").item-remove !{removeIcon}

//- ___price
p.item-price {{ item.price | money }}


//- ___qty input
fieldset.item-qty
    <input class="js-qty-field" type="number" id="Quantity" name="quantity" value="1" min="1" {% if product.variants.size == 1 %} max="{{ product.variants.first.inventory_quantity }}" {% endif %}>
    button(type="button", disabled="disabled").js-qty-btn.disabled.quantity-button.minus -
    span.quantity-text.js-qty-text 1
    button(type="button").js-qty-btn.quantity-button.plus +

//- ___price with discount
|   {% if item.original_line_price != item.line_price %}
p.item-price-dis {{ item.original_line_price | money }}
|   {% endif %}



//- ___ if discount
|   {% for discount in item.discounts %}{{ discount.title }}{% endfor %}