|   {% if cart.item_count > 0 %}
form(action="/cart" method="post" novalidate).cart
    //- _________________ each item
    ul.cart__items
        |   {% for item in cart.items %}
        li.cart__each
            |   {% render 'cart-item' item:item forloop:forloop %}
            |   {% endfor %}

    .cart__infos
    
        
        .cart__infos__estimated
            span.grad.recosemi Grand Total INCL. VAT
            span.subtotal.recosemi {{ cart.total_price | money }}

        .cart__infos__btns
            button(type="submit" name="checkout").btn-checkout.btn-hover
                span.static Proceed to Checkout
                span.hover(data-hover="Proceed to Checkout Proceed to Checkout ") Proceed to Checkout Proceed to Checkout 

            a(href="{{ shop.url }}").btn-checkout.btn-hover.cream-v
                span.static Continue shopping
                span.hover(data-hover="Continue shopping Continue shopping ") Continue shopping Continue shopping 

|   {% else %}

span.empty-bag Your bag is empty
//-a(href="{{ shop.url }}/").browse BROWSE NEW IN

|   {% endif %}