//- =========================  loader home  ========================= -//
//- =========================  loader home  ========================= -//
.loader-home
    .loader-home__hold.e-flex-col
        
        .loader-home__counting.e-flex
            span.loader-home__counter 000
            .separator
            span.loader-home__hundred 100
