.menu-blog
    .menu-blog__back
        button.btn-hover.cream-v.trg-close-menublog
            span.static BACK
            span.hover(data-hover="BACK      BACK      BACK      BACK      BACK      BACK      ") BACK      BACK      BACK      BACK      BACK      BACK       

    ul.menu-blog__hold
        li.menu-blog__each
            a(href="{{ shop.url}}/blogs/{{ blog.handle }}", title="{{ blog.title }} tagged {{ tag | escape }}") 
                span.tag-name ALL
            span.tag-counter {{ blog.articles_count }}
        |   {% for tag in blog.all_tags %}
        |   {% assign count = 0 %} {% for article in blogs[blog.handle].articles %} {% if article.tags contains tag %} {% capture count %}{{ count | plus: 1 }}{% endcapture %} {% endif %} {% endfor %} 
        
        li.menu-blog__each
            a(href="{{ shop.url}}/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}", title="{{ blog.title }} tagged {{ tag | escape }}")
                span.tag-name.dharma {{ tag }}
            span.tag-counter {{ count }}
        |   {% endfor %}