
//- =========================  MENU FS  ========================= -//
//- =========================  MENU FS  ========================= -//

.menu-trg.no-desk.el-fix
    .menu-trg__hold 
        .line.line-0
        .line.line-1
        .line.line-2

nav.menu-fs.no-desk.el-fix
    .menu-fs__hold

        //- home
        .menu-fs__menu.menu__home
            a(href="{{ shop.url}}").menu-fs__title HOME
        //- launches
        .menu-fs__menu.menu__launches
            a(href="{{ shop.url}}/pages/launches").menu-fs__title LAUNCHES

        //- sneakers
        .menu-fs__menu.menu__sneakers
            .menu-fs__title SNEAKERS
            .menu-fs__drop
                span.dharma ALL
                ul
                    |   {% for link in linklists[settings.link_all_sneakers].links %}
                    li 
                        a(href= "{{ link.url }}", title="{{ link.title }}") {{ link.title }}
                    |   {% endfor %}
                span.dharma BRANDS
                ul
                    |   {% for link in linklists[settings.link_brands_sneakers].links %}
                    li 
                        a(href= "{{ link.url }}", title="{{ link.title }}") {{ link.title }}
                    |   {% endfor %}
        
        
            
        //- kids
        .menu-fs__menu.menu__kids
            .menu-fs__title KIDS
            .menu-fs__drop
                span.dharma ALL
                ul
                    |   {% for link in linklists[settings.link_all_kids].links %}
                    li 
                        a(href= "{{ link.url }}", title="{{ link.title }}") {{ link.title }}
                    |   {% endfor %}
                span.dharma BRANDS
                ul
                    |   {% for link in linklists[settings.link_brands_kids].links %}
                    li 
                        a(href= "{{ link.url }}", title="{{ link.title }}") {{ link.title }}
                    |   {% endfor %}
                span.dharma APPAREL
                ul
                    |   {% for link in linklists[settings.link_appa_kids].links %}
                    li 
                        a(href= "{{ link.url }}", title="{{ link.title }}") {{ link.title }}
                    |   {% endfor %}
        
        
        
        
            
        //- appa
        .menu-fs__menu.menu__appa
            .menu-fs__title APPAREL
            .menu-fs__drop
                span.dharma ALL
                ul
                    |   {% for link in linklists[settings.link_all_appa].links %}
                    li 
                        a(href= "{{ link.url }}", title="{{ link.title }}") {{ link.title }}
                    |   {% endfor %}
                span.dharma BRANDS
                ul
                    |   {% for link in linklists[settings.link_brands_appa].links %}
                    li 
                        a(href= "{{ link.url }}", title="{{ link.title }}") {{ link.title }}
                    |   {% endfor %}
                span.dharma APPAREL
                ul
                    |   {% for link in linklists[settings.link_appa_appa].links %}
                    li 
                        a(href= "{{ link.url }}", title="{{ link.title }}") {{ link.title }}
                    |   {% endfor %}
        
        
        
            
        //- acces
        .menu-fs__menu.menu__acces
            .menu-fs__title ACCESORIES
            .menu-fs__drop
                span.dharma ALL
                ul
                    |   {% for link in linklists[settings.link_all_acces].links %}
                    li 
                        a(href= "{{ link.url }}", title="{{ link.title }}") {{ link.title }}
                    |   {% endfor %}
                span.dharma BRANDS
                ul
                    |   {% for link in linklists[settings.link_brands_acces].links %}
                    li 
                        a(href= "{{ link.url }}", title="{{ link.title }}") {{ link.title }}
                    |   {% endfor %}

    
        //- links
        |   {% for link in linklists.menu-mobile.links %}
        .menu-fs__menu.menu__nav
            a(href= "{{ link.url }}").menu-fs__title {{ link.title }}
        |   {% endfor %}

    
        //- links
        .menu-fs__others
            |   {% for link in linklists.menu-mobothers.links %}
            a(href= "{{ link.url }}") {{ link.title }}
            |   {% endfor %}