footer.footer
    .footer__hold.e-hold
        //- legal
        .footer__legal
            |{% for link in linklists.footer-legal.links %}
            a(href="{{link.url}}", title="{{link.title}}") {{link.title}}
            |{% endfor %}
        //- main
        .footer__menu
            |{% for link in linklists.footer.links %}
            a(href="{{link.url}}", title="{{link.title}}") {{link.title}}
            |{% endfor %}
        //- social
        .footer__social
            |{% for link in linklists.footer-social.links %}
            a(href="{{link.url}}", title="{{link.title}}", target="_blank") {{link.title}}
            |{% endfor %}