- var logomain = '<!-- <svg width="100%" viewBox="0 0 1440 245" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M121.35 105.745H59.935v38.34h15.62v34.08c0 19.525-3.55 28.045-14.91 28.045-8.875 0-14.2-6.035-14.2-22.01V62.79c0-15.62 3.905-23.075 14.2-23.075 12.78 0 14.2 10.65 14.2 22.01V74.86h45.795V64.21c0-24.14-5.325-63.545-59.995-63.545C15.56.665.295 30.485.295 67.05v111.47c0 38.695 10.65 66.03 47.215 66.03 14.91 0 29.82-4.615 37.63-20.945.355 4.97 1.065 13.135 2.13 17.395h34.08V105.745zM242.147 96.16h-48.635V44.33h51.475V4.215h-97.27V241h97.625l5.325-40.115h-57.155v-64.61h48.635V96.16zM262.978 167.87v14.2c0 35.145 13.135 62.48 58.22 62.48 46.86 0 59.64-30.53 59.64-67.805 0-38.695-12.425-54.315-47.215-81.65-19.525-15.265-22.365-22.365-22.365-36.565 0-13.49 2.84-20.59 11.36-20.59 8.875 0 11.36 7.1 11.36 21.3v14.2h42.955V59.95c0-26.98-7.1-59.64-54.67-59.64-45.085 0-56.09 31.24-56.09 64.965 0 34.79 13.49 48.28 40.47 71 24.14 20.235 28.4 26.625 28.4 48.99 0 11.36-2.485 22.01-13.135 22.01-10.295 0-14.2-7.455-14.2-22.72V167.87h-44.73zM471.025 163.61v19.88c0 14.91-2.84 22.365-12.78 22.365-10.295 0-12.425-8.875-12.425-21.3V59.24c0-13.49 3.195-19.88 12.425-19.88 9.585 0 12.425 6.745 12.425 19.88v20.235h45.795v-14.91c0-31.24-8.165-63.9-58.22-63.9C420.26.665 399.67 22.32 399.67 63.5v116.085c0 43.665 17.395 64.965 57.51 64.965 54.315 0 59.995-38.34 59.995-68.16v-12.78h-46.15zM536.7 241h45.44V135.565h29.82V241h45.795V4.215H611.96V95.45h-29.82V4.215H536.7V241zM750.374 241c4.97-42.955 12.07-88.395 16.685-136.32h1.775c3.905 48.99 9.94 94.785 14.555 136.32h47.215L860.779 4.215h-45.085c-3.195 39.05-7.455 115.02-9.585 159.04h-1.775c-4.615-49.345-9.94-112.89-14.91-159.04h-39.05c-4.97 48.99-10.65 113.6-15.62 159.75h-1.42c-1.065-37.275-6.035-117.505-9.23-159.75h-48.28L702.804 241h47.57zM878.873 4.215V241h45.44V4.215h-45.44zM943.857 167.87v14.2c0 35.145 13.135 62.48 58.223 62.48 46.86 0 59.64-30.53 59.64-67.805 0-38.695-12.43-54.315-47.22-81.65-19.523-15.265-22.363-22.365-22.363-36.565 0-13.49 2.84-20.59 11.363-20.59 8.87 0 11.36 7.1 11.36 21.3v14.2h42.95V59.95c0-26.98-7.1-59.64-54.67-59.64-45.083 0-56.088 31.24-56.088 64.965 0 34.79 13.49 48.28 40.47 71 24.138 20.235 28.398 26.625 28.398 48.99 0 11.36-2.48 22.01-13.13 22.01-10.298 0-14.203-7.455-14.203-22.72V167.87h-44.73zM1105.08 241h45.79V44.33h34.44V4.215h-114.67V44.33h34.44V241zM1295.71 96.16h-48.64V44.33h51.48V4.215h-97.27V241h97.62l5.33-40.115h-57.16v-64.61h48.64V96.16zM1321.24 241h45.44V138.05h5.32c17.4 0 20.59 4.615 20.59 31.24 0 30.175-.35 61.06 2.49 71.71h44.02c-1.78-12.425-1.42-47.215-1.42-69.935 0-33.015-7.1-44.02-21.66-51.12 9.94-4.615 23.43-14.555 23.43-48.635v-8.52c0-41.18-19.52-58.575-59.28-58.575h-58.93V241zm45.44-200.93h7.1c17.04 0 20.23 7.81 20.23 23.785v11.36c0 22.01-6.39 26.98-21.65 26.98h-5.68V40.07z" fill="#000"/></svg> -->'

a(href="{{ shop.url }}").logo-main.e-fixed !{logomain}











//- =========================  MENUFS  ========================= -//
//- =========================  MENUFS  ========================= -//



.trg-cart.no-desk
    span.cart-counter ( {{ cart.item_count }})


.trg-cart.no-mobile
    .lined Your Bag(#[span.cart-counter  {{ cart.item_count }}])



//-.menu-trg
    .menu-trg__hold 
        .line.line-0
        .line.line-1
        .line.line-2


//-div
    form(action='/search' method='get' role='search')
        input(type='search' name='q' placeholder="SEARCH" value='{{ search.terms | escape }}')
        input(type="hidden" name="type" value="product") 
        button(type='submit') ►


        ul.menu-fs__shop__link.hide-drop
            |{% for link in linklists.menu-collections.links %}
            li
                a(href="{{link.url}}", alt="{{ link.title }}").e-upper.lined {{link.title}}
            |{% endfor %}

        ul.menu-fs__links__list
            |{% for link in linklists.main-menu.links %}
            li 
                a(href="{{link.url}}", alt="{{ link.title }}").lined  {{link.title}}
            |{% endfor %}













//- =========================  COOKIES  ========================= -//
//- =========================  COOKIES  ========================= -//
.cookies.e-flex
    .cookies__hold.e-rel.e-flex-col
        .cookies__close X
        .cookies__text This website uses cookies. They improve your navigation and the quality of our site. By navigating, you accept the placement and use of cookies as described in our Privacy Policy.