- var logomain = '<svg version="1.1" id="Large_Logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1314 178.2" style="enable-background:new 0 0 1314 178.2;" xml:space="preserve"><path d="M1230.3,67.6c36.2,10.8,59.4,23,59.4,49.2c0,15.4-7,29.4-20.4,40.1c-16.1,13-42.3,21.3-76.1,21.3c-42.3,0-79.2-12.2-105.1-31.1l40.8-39.2c24.4,16.4,49.3,24.2,71.9,24.2c9.1,0,15.5-2.7,15.5-7.6c0-5.4-4-7.1-35-16.4c-39.6-11.7-58.2-23-58.2-48.2c0-14.4,7.3-27.7,20.1-37.9c16.7-13.5,42.9-22,75.8-22c38.1,0,71.9,9.8,95,25.7l-40.8,39.2c-16.1-10.5-39-19.1-61.5-19.1c-9.1,0-15.5,2-15.5,6.9C1196.1,57.8,1200.7,58.7,1230.3,67.6"/><path d="M913.5,3.4h11h61.7l-29.8,89.1c-1.5,4.3-2.3,8.9-2.4,13.5c0,14.2,10.4,21.5,29.2,21.5c8.8,0,17.1-2.4,22.8-7.1c6.4-5.1,10.7-11.7,15.2-25l30.8-92h72.5l-33.8,100.8c-7.7,22.8-18.7,39.5-33.6,51.5c-20.1,16.2-50.6,22.5-84.4,22.5c-60,0-92.3-23-92.3-61.7c0.1-9.4,1.6-18.7,4.6-27.7L913.5,3.4z"/><polygon points="924.4,3.4 838.1,3.4 767.1,64.8 787.8,3.4 716.5,3.4 659.3,174.7 730.6,174.7 741,143.6 770.8,119.6 796.4,174.7 872.2,174.7 827.7,81.7 "/><polygon points="455.5,3.4 524.5,3.4 550.1,63.6 616,3.4 694.4,3.4 637.1,174.7 566,174.7 566,174.8 594.4,89.9 524.9,150.8 523.7,150.8 495,89.8 466.6,174.7 396.8,174.7 "/><polygon points="438.5,53.2 307.5,53.2 301.7,69.6 413.5,69.6 399.8,111 288,111 281.6,127.7 395.1,127.7 379.5,174.7 195.9,174.7 253.2,3.4 455.5,3.4 "/><polygon points="60.8,3.4 0,174.8 170.2,174.8 186.2,127.7 87.8,127.7 128.7,3.4 "/></svg>'

.preloader-master.e-wvw.e-hvh.e-fixed.e-soft


.bg-fixed-els.el-fix


//- =========================  top bar  ========================= -//
//- =========================  top bar  ========================= -//
- var closeTopBar = '<svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 20 20"><g fill="none" stroke="var(--soft)"><circle cx="10" cy="10" r="10" stroke="none"/><circle cx="10" cy="10" r="9.5"/></g><path fill="var(--soft)" d="M14.218 6.736l-.823-.823-3.264 3.263-3.263-3.263-.823.823 3.263 3.263-3.263 3.264.823.823 3.263-3.264 3.263 3.263.823-.823-3.263-3.263z"/></svg>'
|   {% if settings.is_topbar %}
.top-bar.e-dark
    .top-bar__hold
        .top-bar__text
            span {{ settings.top_bar_text }}

        .top-bar__close.e-flex !{closeTopBar}
|   {% endif %}








//- =========================  LOGO MAIN  ========================= -//
//- =========================  LOGO MAIN  ========================= -//

a(href="{{ shop.url }}", title="{{ shop.title }}").logo-main.el-fix !{logomain}

//- =========================  FIXED LINKS  ========================= -//
//- =========================  FIXED LINKS  ========================= -//
.cape-hour.no-mobile
    span.cape CAPE TOWN
    span.hour 11:18 AM





//- =========================  MAIN MENU  ========================= -//
//- =========================  MAIN MENU  ========================= -//
nav.main-menu.no-mobile.el-fix
    ul
        li
            a(href= "{{ shop.url }}/pages/launches", class="link-launches").item LAUNCHES

        each list, index in['sneakers','apparel','kids','accessories']
            li(data-trgdd="is-"+list).trg-dd
                a(href= "{{ shop.url }}/collections/"+list, class="link-"+list).e-upper.item=list
        |   {% for link in linklists.main-menu.links %}
        li
            a(href= "{{ link.url }}", class="link-{{ link.title | downcase }}").item {{ link.title }}

        |   {% endfor %}








//- =========================  BAG & ACCOUNT  ========================= -//
//- =========================  BAG & ACCOUNT  ========================= -//

.menu-acc-wish.no-mobile.el-fix
    a(href="{{ shop.url }}/account", title="account", class="link-account") ACCOUNT
    a(href="{{ shop.url }}/wishlist", title="wishlist", class="link-wishlist") WISHLIST

.menu-search-bag.el-fix
    a(href="{{ shop.url }}/search", title="search", class="link-search").trg-search SEARCH
    .trg-cart BAG (#[span.cart-counter  {{ cart.item_count }}])



//- =========================  COOKIES  ========================= -//
//- =========================  COOKIES  ========================= -//
.cookies.e-flex
    .cookies__hold
        .cookies__text 
            p We use cookies to improve your experience. By using this website you agree to our #[a(href="{{ shop.url }}/pages/cookies").underline  Cookie Policy].

        .cookies__btns
            a(href!="{{ shop.url }}/pages/cookies").btn-hover.cream-v
                span.static LEARN
                span.hover(data-hover="LEARN      LEARN      ") LEARN      LEARN      
                
            button.cookies__close.btn-hover
                span.static ACCEPT
                span.hover(data-hover="ACCEPT      ACCEPT      ") ACCEPT      ACCEPT      
        