.products__each
    //-|   {% unless prod.available %}<br><strong>sold out</strong>{% endunless %}
    a(href="{{ prod.url | within: collection }}").prod-img
        img.img-load(class="test" src="{{ prod.featured_image.src | img_url: 'master' }}" alt="{{ prod.featured_image.alt | escape }}")

    

    .prod-infos
    
        .prod-infos__title
            a(href="{{ prod.url | within: collection }}").title-prod.dharma {{ prod.title }}
        .prod-infos__desc
            | {% if prod.compare_at_price_max != 0 %}
            span.sale-price {{ prod.compare_at_price_max  | money_without_trailing_zeros  }}
            | {% endif %}
        
            span.regular-price {{ prod.price | money_without_trailing_zeros }}
            .sizes
                |   {% assign sizes = '' %}
                |   {% for variant in prod.variants %}
                |   {% assign sizes = sizes | append: variant.options[0] | append: '_' %}
                |   {% endfor %}

                |   {% assign sizesArr = sizes | split: '_' | uniq %}

                |   {% for size in sizesArr %}
                |   <span class="recosemi">{{ size }}</span>
                |   {% endfor %}
