
<div class="page page-login page-customer" data-ispage="login" data-scroll-content>
  <header class="header-cust">
    <div class="state-form">LOGIN</div>
    <div class="form-login form-cust">{% form 'customer_login' %} {{ form.errors | default_errors }}
      <input type="email" name="customer[email]" placeholder="Email">
      <input type="password" name="customer[password]" autocomplete placeholder="Password">
      <button class="btn-hover" type="submit"><span class="static">SIGN IN</span><span class="hover" data-hover="SIGN IN SIGN IN ">SIGN IN SIGN IN </span></button>{% endform %} 
    </div>
    <div class="create-forg">
      <div class="create-forg__creat">
          {% if shop.customer_accounts_enabled %} {% if customer  %} {% else %}
          {% if shop.customer_accounts_optional %}<a class="recosemi e-upper" href="{{ shop.url }}/account/register">Don’t have an account? <span class="underline">Sign Up</span></a>
        <button class="create-forg__forgot">Forgot Password?</button>  {% endif %}
          {% endif %} {% endif %}
      </div>
      <div class="forgot-form e-flex-col">  {% form 'recover_customer_password' %} {{ form.errors | default_errors}}
        <input type="email" name="email" placeholder=" Email Address">
        <button class="btn-hover" type="submit"><span class="static">SUBMIT</span><span class="hover" data-hover="SUBMIT SUBMIT ">SUBMIT SUBMIT </span></button>  {% endform %} 
      </div>
    </div>
  </header>{% render  'myfooter' %}
</div>