
<div class="page page-register" data-ispage="register" data-scroll-content>
  <header>
    <p>Create an Account / </p>
    <div class="form-register e-flex-col">{% form 'create_customer' %} {{ form.errors | default_errors }}
      <input type="text" value="" name="customer[first_name]" size="30" placeholder="First Name">
      <input type="text" value="" name="customer[last_name]" size="30" placeholder="Last Name">
      <input type="email" value="" name="customer[email]" size="30" placeholder="Email Address">
      <input type="password" value="" name="customer[password]" size="30" placeholder="Password">
      <input type="submit" value="Create">{% endform %} 
    </div>
    <section class="register-opt e-flex-col">
      <div class="register-opt__creat e-flex-col">
          {% if shop.customer_accounts_enabled %} 
          {{ 'Log in' | customer_login_link }}
          {% endif %}
      </div>
      <div class="register-opt__forgot e-flex-col">
        <button class="toggle-forgot">Forgot password?</button>
        <div class="forgot-form e-flex-col js-hidden">  {% form 'recover_customer_password' %} {{ form.errors | default_errors}}
          <input class="input-cost" type="email" name="email" placeholder="Email Address">
          <input class="submit-cost" type="submit" value="Submit">  {% endform %} 
        </div>
      </div>
    </section>
  </header>{% render  'myfooter' %}
</div>