
<div class="page page-reset" data-ispage="reset" data-scroll-content>
  <header class="header-reset e-flex-col">
    <p>Reset Password /</p>
    <div class="form-reset e-flex-col">  {% form 'reset_customer_password' %} {{ form.errors | default_errors }}
      <input class="input-cost" type="password" value="" name="customer[password]" size="16" placeholder="Password">
      <input class="input-cost" type="password" value="" name="customer[password_confirmation]" size="16" placeholder="Password Confirmation">
      <input class="submit-cost" type="submit" value="Reset Password">{% endform %} 
    </div>
  </header>{% render  'myfooter' %}
</div>