@import '../partials/alias-mixins'

.page-collection
    overflow-x: hidden

.header-coll__hold
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-areas: "sort filters" "qty qty"
    @include desk
        align-items: center
        grid-template-areas: "bread btn-filter sort" "qty qty qty "
        grid-template-columns: 1fr 1fr 1fr

.page-collection footer.footer
    @include mobile
        margin: 25px 0 0

header.header-coll
    padding: 55px 0 22px
    @include desk
        padding: 4.8rem 0 1.2rem



.header-coll__bread nav.breadcrumbs
    @include desk
        justify-content: flex-start
        margin: 0 0 0 var(--gap)

.breadcrumbs > *
    @include desk
        font-size: 1.4rem

.header-coll__qty
    //border-top: 1px solid var(--dark)
    font-size: 1.2rem
    grid-area: qty
    justify-self: unset
    margin: 0
    padding: 18px 0 0
    @include desk
        display: flex
        font-size: 1.4rem
        margin: 0
        padding: 1.5rem 0 0.5rem 0

        


.header-coll__name
    font-family: var(--dharmaex)
    font-size: 4rem
    text-transform: uppercase
    @include desk
        font-size: 9rem

.header-coll__qty span
    font-size: 1.2rem
    @include desk
        font-size: 1.4rem



.header-coll__btn-filter
    @include desk
        justify-self: center
        transform: none
        

.header-coll__btn-filter.no-desk
    grid-area: filters
    justify-self: center
    align-self: center

.header-coll__btn-filter button
    height: 3.6rem
    width: 10.8rem
    @include desk
        grid-area: btn
        width: 17.6rem
        height: 3.9rem



.header-coll__sort-by
    grid-area: sort
    border-right: 1px solid var(--dark)
    width: 100%
    padding: 0 0 0 var(--gap)
    @include desk
        border-left: 1px solid var(--dark)
        border-right: none
        margin: 0 0 0 16.7rem
        padding: 0.5rem 0 0.5rem var(--gap)


.is-safari .header-coll__sort-by
    @include desk
        padding: 2rem 0 2rem var(--gap)


.header-coll__sort-by span
    display: inline-block


.header-coll__sort-by select
    background: none
    border: none
    font-family: var(--recosemi)
    font-size: 1.6rem
    padding: 17px 0
    text-transform: uppercase
    width: 92%
    @include desk
        font-size: 1.4rem
        width: 17.5rem



.header-coll__sort-by select option
    font-size: 1.2rem
    text-transform: uppercase


.header-coll__btn-filter button
    font-family: var(--recosemi)









//- =========================  PAGINATE  ========================= -//
//- =========================  PAGINATE  ========================= -//

//- =========================  PAGINATE  ========================= -//
//- =========================  PAGINATE  ========================= -//
.colle__paginate
    margin: 4rem 0 4.2rem
    @include desk
        display: flex
        justify-content: flex-end
        margin: 2.8rem var(--gap) 0 0

.colle__paginate__hold
    align-items: center
    border-radius: 50px
    border: 1px solid var(--dark)
    display: flex
    font-size: 2rem
    gap: 1.9rem
    justify-content: center
    padding: 0.8rem 0
    width: 92%
    @include desk
        padding: .8rem 2.6rem
        width: auto

.colle__paginate__each button
    color: #b7b7b7
    cursor: pointer
    font-family: var(--recosemi)
    position: relative
    transition: .15s color ease-out
    &:hover
        color: var(--color)

.colle__paginate__each button.t-black
    color: #000
    pointer-events: none