
| {% assign cart_colle = collections[settings.cart_colle] %}
section.cart-colle

    h1.dharma {{ settings.text_dropped }}
    .cart-colle__hold
        | {% for item in cart_colle.products limit:4 %}
        
        //- calling prod
        |   {% render 'product-card' prod: item %}

        | {% endfor %}
    


