
| {% assign cart_colle = collections[settings.cart_colle] %}
section.cart-colle

    .cart-colle__text.dharma {{ settings.text_cart_colle }}
    .cart-colle__hold.mini-card
        | {% for item in cart_colle.products limit:4 %}
        
        //- calling prod
        |   {% render 'product-card' prod: item %}

        | {% endfor %}
    


