.   
    {% schema %}
        {
            "name": "Contact Link",
            "settings": [
                {
                    "type": "text",
                    "id": "ctt_link_title",
                    "label": "Title",
                    "default": "CONTACT"
                }
            ],

            "name": "Links",
            "blocks": [
                {
                    "name": "Link",
                    "type": "text",
                    "settings": [
                        {
                            "id": "ctt_link",
                            "type": "text",
                            "label": "Link:"
                        }
                    ]
                }
            ]
        }
    {% endschema %}


section.ctt-links
    .ctt-links__hold
        .ctt-links___title.ctt-subt {{ section.settings.ctt_link_title }}
        ul.ctt-links__items
            | {% for block in section.blocks %}
            li.ctt-links__each
                a(href="{{ block.settings.ctt_link }}", title="{{ block.settings.ctt_link }}") {{ block.settings.ctt_link }}
            | {% endfor %}




