.   
    {% schema %}
        {
            "name": "CONTACT | Title",
            "settings": [
                {
                    "type": "text",
                    "id": "ctt_title",
                    "label": "Title",
                    "default": "DROP US A LINE"
                }
            ]
        }
    {% endschema %}


section.ctt-title
    .ctt-title__hold.e-hold
        h1.big-t {{ section.settings.ctt_title }}



