.   
    {% schema %}
        {
            "name": "MODULE | Dropping Card",
            "class": "dropping-card",
            "settings": [
                {
                    "id": "dropping-card",
                    "type": "collection",
                    "label": "Collection"
                },
                {
                    "id": "img_logo_brand",
                    "type": "image_picker",
                    "label": "Image Logo"
                }
            ]
        }
    {% endschema %}

| {% assign dropping_col = collections[section.settings.dropping-card] %}
section.dropping-card.dropping-card-regular
    | {% for product in dropping_col.products limit:1 %}
    .dropping-card__hold.js-find-hover

        //- BG
        .dropping-card__bg(style="background:#eaeaea")

        .dropping-card__infos
            //- CARD
            .dropping-card__logo
                img(src="{{ section.settings.img_logo_brand | img_url: 'master' }}", alt='{{ section.settings.img_logo_brand.alt | escape }}').img-load

            //- TITLE
            a(href="{{ product.url | within: collection }}").dropping-card__title.dharma {{ product.title }}

            //- PRICE
            .dropping-card__price.recosemi {{ product.price | money }}

            //- INFOS
            .dropping-card__infos__img.no-desk
                a(href="{{ product.url | within: collection }}")
                    img(src="{{  product.featured_image.src  | img_url: 'master' }}" alt="{{ product.src | escape }}").img-load


            
            //- COUNTDOWN
            .dropping-card__count
                |   {% if product.metafields.drop.drop_month %}
                |   {% assign drop_day = product.metafields.drop.drop_day %}
                |   {% assign drop_month = product.metafields.drop.drop_month %}
                |   {% assign drop_hour = product.metafields.drop.drop_hour %}
                .countdown(data-day="{{ drop_day }}", data-month="{{ drop_month }}", data-hour="{{ drop_hour }}")
                    ul.countdown__hold
                        li.countdown__numbers
                            span.countdown__days 00
                            span.countdown__hours 00
                            span.countdown__mins 00
                            span.countdown__secs 00
                        li.countdown__infos
                            span.infos__days DAYS
                            span.infos__hours HOURS
                            span.infos__mins MINS
                            span.infos__secs SECS
                |   {% endif %}


            //-a(href="#" class="BIS_trigger" data-product-data="{{ product | json | escape }}").dropping-card__notify.btn-hover NOTIFY ME
            .dropping-card__notify.btn-hover
                    span.static NOTIFY ME
                    span.hover(data-hover="NOTIFY ME      NOTIFY ME      ") NOTIFY ME      NOTIFY ME      






        .dropping-card__img.no-mobile.hover-img 
            a(href="{{ product.url | within: collection }}") 
                img(src="{{  product.featured_image.src  | img_url: 'master' }}" alt="{{ product.src | escape }}").img-load

    | {% endfor %}
        


