
.   
    {% schema %}
        {
            "name": "MODULE | Dropping Inverse",
            "class": "dropping-card",
            "settings": [
                {
                    "id": "dropping_card_inv",
                    "type": "collection",
                    "label": "Collection"
                },
                {
                    "id": "img_logo_brand_inv",
                    "type": "image_picker",
                    "label": "Image Logo"
                }
            ]
        }
    {% endschema %}

| {% assign dropping_col_inv = collections[section.settings.dropping_card_inv] %}
section.dropping-card.dropping-card-inv
    | {% for product in dropping_col_inv.products limit:1 %}
    .dropping-card__hold

        //- BG
        .dropping-card__bg(style="background:#eaeaea")

        .dropping-card__infos
            //- CARD
            .dropping-card__logo 
                img(src="{{ section.settings.img_logo_brand_inv | img_url: 'master' }}", alt='{{ section.settings.img_logo_brand_inv.alt | escape }}').img-load

            //- TITLE
            a(href="{{ product.url | within: collection }}").dropping-card__title.dharma {{ product.title }}

            //- PRICE
            .dropping-card__price.recosemi {{ product.price | money }}

            //- INFOS
            .dropping-card__infos__img.no-desk
                a(href="{{ product.url | within: collection }}") 
                    img(src="{{  product.featured_image.src  | img_url: 'master' }}" alt="{{ product.src | escape }}").img-load


            
            //- COUNTDOWN
            .dropping-card__count
                |   {% if product.metafields.drop.drop_month %}
                |   {% assign drop_day = product.metafields.drop.drop_day %}
                |   {% assign drop_month = product.metafields.drop.drop_month %}
                |   {% assign drop_hour = product.metafields.drop.drop_hour %}
                .countdown(data-day="{{ drop_day }}", data-month="{{ drop_month }}", data-hour="{{ drop_hour }}")
                    ul.countdown__hold
                        li.countdown__numbers
                            span.countdown__days 00
                            span.countdown__hours 00
                            span.countdown__mins 00
                            span.countdown__secs 00
                        li.countdown__infos
                            span.infos__days DAYS
                            span.infos__hours HOURS
                            span.infos__mins MINS
                            span.infos__secs SECS
                |   {% endif %}


            .dropping-card__notify.btn-hover
                    span.static NOTIFY ME
                    span.hover(data-hover="NOTIFY ME      NOTIFY ME      ") NOTIFY ME      NOTIFY ME      






        .dropping-card__img.no-mobile
            a(href="{{ product.url | within: collection }}") 
                img(src="{{  product.featured_image.src  | img_url: 'master' }}" alt="{{ product.src | escape }}").img-load

    | {% endfor %}
        


