
.   
    {% schema %}
        {
            "name": "MODULE | Dropping Inverse",
            "class": "dropping-card",
            "settings": [
                {
                    "id": "dropping_card_inv",
                    "type": "collection",
                    "label": "Collection"
                },
                {
                    "id": "img_logo_brand_inv",
                    "type": "image_picker",
                    "label": "Image Logo"
                }
            ]
        }
    {% endschema %}

| {% assign dropping_col_inv = collections[section.settings.dropping_card_inv] %}
section.dropping-card.dropping-card-inv
    | {% for product in dropping_col_inv.products limit:1 %}
    .dropping-card__hold.e-flex

        .dropping-card__infos
            .dropping-card__logo 
                img(src="{{ section.settings.img_logo_brand_inv | img_url: 'master' }}", alt='{{ section.settings.img_logo_brand_inv.alt | escape }}').img-load

            a(href="{{ product.url | within: collection }}").dropping-card__title.dharma {{ product.title }}
            .dropping-card__price.recosemi {{ product.price | money }}
            .prod-card__notify NOTIFY ME

        .dropping-card__img
            a(href="{{ product.url | within: collection }}") 
                img(src="{{  product.featured_image.src  | img_url: 'master' }}" alt="{{ product.src | escape }}").img-load

    | {% endfor %}
        


