.   
    {% schema %}
        {
            "name": "Blog",
            "class": "blog-index",
            "settings": [
                {
                    "id": "blog-index",
                    "type": "blog",
                    "label": "Blog"
                },
                {
                    "id": "title-blog",
                    "type": "text",
                    "label": "Title Blog"
                }
            ]
        }
    {% endschema %}

| {% assign blog = blogs[section.settings.blog-index] %}
section.blog-index
    .blog-index__hold.e-hold
        .blog-index__cult-title
            h1.t-color.dharma {{ section.settings.title-blog }}
            a(href="{{ shop.url }}/blogs/news").ricosemi VIEW ALL
        
        
        
        ul.blog-index__posts



            //- only featured
            |   {% for article in blog.articles limit: 4 %}
            li.blog-index__each

                a.blog-index__img(href="{{ article.url }}", title="{{ article.title }}")
                    img(src="{{ article.image.src | img_url: 'master' }}" alt="{{ article.title }}").img-load

                a.blog-index__img(href="{{ article.url }}", title="{{ article.title }}").dharma {{ article.title }}

            |   {% endfor %}
                


