.   
    {% schema %}
        {
            "name": "Just Dropped",
            "class": "dropped-index",
            "settings": [
                {
                    "id": "dropped_index",
                    "type": "collection",
                    "label": "Collection"
                },
                {
                    "id": "text_dropped",
                    "type": "text",
                    "label": "Text Dropped",
                    "default": "JUST DROPPED"
                }
            ]
        }
    {% endschema %}

| {% assign dropped_col = collections[section.settings.dropped_index] %}
section.collect-index

    | {% for item in dropped_col.products limit:6 %}
    
    //- calling prod
    |   {% render 'product-card' prod: item %}

    | {% endfor %}
    


