.   
    {% schema %}
        {
            "name": "INDEX | Blog",
            "class": "blog-index",
            "settings": [
                {
                    "id": "blog-index",
                    "type": "blog",
                    "label": "Blog"
                },
                {
                    "id": "title-blog",
                    "type": "text",
                    "label": "Title Blog",
                    "default": "CULTURE"
                }
            ]
        }
    {% endschema %}

| {% assign blog = blogs[section.settings.blog-index] %}
section.blog-index.js-slider
    .blog-index__hold.e-hold
        .blog-index__cult-title
            h1.t-color.dharma {{ section.settings.title-blog }}
            a(href="{{ shop.url }}/blogs/news").view-all-blog.btn-hover.no-mobile
                    span.static VIEW ALL
                    span.hover(data-hover="VIEW ALL      VIEW ALL      ") VIEW ALL      VIEW ALL      

        
        
        
        ul.blog-index__posts.js-slider__holder



            //- only featured
            |   {% for article in blog.articles limit: 4 %}
            |   {% render 'article-card' art: article %}
            |   {% endfor %}
                
        a(href="{{ shop.url }}/blogs/news").view-all-blog.btn-hover.no-desk
                span.static VIEW ALL
                span.hover(data-hover="VIEW ALL      VIEW ALL      ") VIEW ALL      VIEW ALL      


