.   
    {% schema %}
        {
            "name": "INDEX | Collection",
            "class": "collection-index",
            "settings": [
                {
                    "id": "collection-index",
                    "type": "collection",
                    "label": "Collection"
                },
                {
                    "id": "text-btn",
                    "type": "text",
                    "label": "Text Button",
                    "default": "SHOP ALL"
                },
                {
                    "id": "url-btn",
                    "type": "url",
                    "label": "Link Button"
                }
            ]
        }
    {% endschema %}

| {% assign collection = collections[section.settings.collection-index] %}
section.collect-index

    | {% for product in collection.products %}
    .collect-index__each

        a(href="{{ product.url | within: collection }}", title="{{ product.featured_image.alt | escape }}")
            img(src="{{ product.featured_image.src | img_url: '700x' }}" alt="{{ product.featured_image.alt | escape }}").img-load
            |   {% if product.images.size == 1 %} 
            |   {% assign my_product_image =  product.images[0] %}
            |   {% else %}
            |   {% assign my_product_image =  product.images[1] %}
            |   {% endif %}
            img.img-load(src="{{ my_product_image | img_url: '700x' }}", alt="{{ product.featured_image.alt | escape }}").img-load

        a(href="{{ product.url | within: collection }}", alt="{{ product.featured_image.alt | escape }}") {{ product.title }}

        |   {% unless product.available %}<br><strong>sold out</strong>{% endunless %}


        form(method="post" action="/cart/add").js-add-cart.no-mobile
            input(type="hidden" name="id" value="{{ product.variants.first.id }}")
            input(min="1" type="number" id="quantity" name="quantity" value="1").no-desk
            button(type="submit") ADD

    | {% endfor %}
    div
        a(href="{{ section.settings.url-btn }}").t-serif.t-center.e-wp {{ section.settings.text-btn }}
    


