

| {% assign dropped_col = collections[section.settings.dropped_index] %}
section.collect-index(class="{% if section.settings.is_drag %}dropped-drag js-slider-section{% endif%}").js-slider

    h1.collect-index__title.dharma.js-split {{ section.settings.text_dropped }}
    .collect-index__hold.colle-cards(class="{% if section.settings.is_drag %}js-slider-section__holder js-slider__holder trg-cursor{% endif%}")
        | {% for item in dropped_col.products limit: 6 %}
        
        //- calling prod
        |   {% render 'product-card' prod: item %}

        | {% endfor %}

    .cols_index__drag.e-hold.no-mobile
        .drag__cntrl
            .drag__cntrl__lines
                .drag-line.line-static
                .drag-line.line-dyna
            button(href="#").drag.recosemi DRAG
    |   {% if section.settings.is_drag %}
    |   {% endif %}



.   
    {% schema %}
        {
            "name": "INDEX | Just Dropped",
            "class": "dropped-index",
            "settings": [
                {
                    "id": "dropped_index",
                    "type": "collection",
                    "label": "Collection"
                },
                {
                    "id": "text_dropped",
                    "type": "text",
                    "label": "Text Dropped",
                    "default": "JUST DROPPED"
                },
                {
                    "type": "checkbox",
                    "id": "is_drag",
                    "label": "Is one draggable row?",
                    "default": false
                }
            ],
            "presets": [
                {
                "name": "Just Dropped",
                "category": "Collections"
                }
            ]
        }
    {% endschema %}