.   
    {% schema %}
        {
            "name": "INDEX | Collections",
            "settings": [
                {
                    "type": "color",
                    "id": "color_text_col",
                    "label": "Color Text",
                    "default": "#ffffff"
                }
            ],

            "name": "INDEX | Collections",
            "blocks": [
                {
                    "name": "Collection Index",
                    "type": "collections",
                    "settings": [
                        {
                            "id": "img_cols",
                            "type": "image_picker",
                            "label": "Collection Image"
                        },
                        {
                            "id": "title_cols",
                            "type": "text",
                            "label": "Collection Title"
                        },
                        {
                            "id": "link_cols",
                            "type": "url",
                            "label": "Collection Link"
                        }
                    ]
                }
            ]
        }
    {% endschema %}


section.cols_index.e-wvw
    .cols_index__hold
        ul.cols_index__items
            | {% for block in section.blocks %}
            li.cols_index__each
                .cols_index__img
                    img(src="{{ block.settings.img_cols | img_url: 'master' }}", alt='#').img-load
                a(href="{{ block.settings.link_cols }}", title="{{ block.settings.title_cols }}", style="color:{{ section.settings.color_text_col }}").cols_index__title.dharma {{ block.settings.title_cols }}
            | {% endfor %}

        .cols_index__drag.no-mobile
            .drag__cntrl
                .drag__cntrl__lines
                    .drag-line.line-static
                    .drag-line.line-dyna
                button(href="#").drag.recosemi DRAG
        




