.   
    {% schema %}
        {
            "name": "INDEX | Slide Highlight",
            "settings": [
                {
                    "id": "introducing",
                    "type": "text",
                    "label": "Introducing",
                    "default": "INTRODUCING"
                },
                {
                    "id": "img_hl",
                    "type": "image_picker",
                    "label": "Image Highlight"
                },
                {
                    "id": "title_hl",
                    "type": "text",
                    "label": "Title Highlight"
                },
                {
                    "id": "url_hl",
                    "type": "url",
                    "label": "Link Highlight"
                },
                {
                    "type": "color",
                    "id": "color_text_hl",
                    "label": "Color Text",
                    "default": "#ffffff"
                }
            ],

            "name": "INDEX | Intro & Header",
            "max_blocks": 9,
            "blocks": [
                {
                    "name": "Images",
                    "type": "images",
                    "settings": [
                        {
                            "id": "img-intro",
                            "type": "image_picker",
                            "label": "Image"
                        }
                    ]
                }
            ]
        }
    {% endschema %}


header.header-index.e-wvw
    .header-index__hold.e-hold
        ul.header-index__imgs
            | {% for block in section.blocks %}
            li.header-index__imgs__each
                img(src="{{ block.settings.img-intro | img_url: 'master' }}", alt='').img-load
            | {% endfor %}

        .header-index__hl
            .header-index__hl__hold.e-wp.e-hp.e-rel.hover-img-mini
                .header-index__hl__img
                    a(href="{{ section.settings.url_hl }}", title="{{ section.settings.title_hl }}")
                        img(src="{{ section.settings.img_hl | img_url: 'master' }}", alt='').img-load
                .header-index__hl__texts
                    span.recosemi(style="color:{{ section.settings.color_text_hl }}") {{ section.settings.introducing}}
                    a(href="{{ section.settings.url_hl }}", title="{{ section.settings.title_hl }}", style="color:{{ section.settings.color_text_hl }}").dharma {{ section.settings.title_hl }}
        


