


| {% assign soon_col = collections[section.settings.soon_index] %}
section.soon-collect-index
    .e-hold
        h1.soon-index__title.dharma.js-split {{ section.settings.text_soon }}
    .soon-collect-index__hold.colle-cards
        | {% for item in soon_col.products limit:5 %}
        
        //- calling prod
        |   {% render 'product-card' prod: item %}

        | {% endfor %}
        .prod-card__each
            a(href="#").view-all-card-soon.recosemi VIEW ALL 
        


.   
    {% schema %}
        {
            "name": "INDEX | Dropping Soon",
            "settings": [
                {
                    "id": "soon_index",
                    "type": "collection",
                    "label": "Collection"
                },
                {
                    "id": "text_soon",
                    "type": "text",
                    "label": "Text soon",
                    "default": "DROPPING SOON"
                }
            ],
            "presets": [
                {
                "name": "Drop Soon",
                "category": "Collections"
                }
            ]
        }
    {% endschema %}