.   
    {% schema %}
        {
            "name": "TODDLER  | Size Guide",
            "blocks": [
                {
                    "name": "Item",
                    "type": "text",
                    "settings": [
                        {
                            "id": "sg_toddler_sneakers_uk",
                            "type": "text",
                            "label": "UK:"
                        },
                        {
                            "id": "sg_toddler_sneakers_us",
                            "type": "text",
                            "label": "US:"
                        },
                        {
                            "id": "sg_toddler_sneakers_eur",
                            "type": "text",
                            "label": "EUR:"
                        }
                    ]
                }
            ]
        }
    {% endschema %}


section.size-guide.mens_sneakers
    .size-guide__hold
        .size-guide__title Size Guide: Toddler Sneakers
        ul.size-guide__items
            li.size-guide__cat
                span UK
                span US
                span EU
            | {% for block in section.blocks %}
            li.size-guide__each
                span {{ block.settings.sg_toddler_sneakers_uk }}
                span {{ block.settings.sg_toddler_sneakers_us }}
                span {{ block.settings.sg_toddler_sneakers_eur }}
            | {% endfor %}
