.   
    {% schema %}
        {
            "name": "PRE SCHOOL  | Size Guide",
            "blocks": [
                {
                    "name": "Item",
                    "type": "text",
                    "settings": [
                        {
                            "id": "sg_pres_sneakers_uk",
                            "type": "text",
                            "label": "UK:"
                        },
                        {
                            "id": "sg_pres_sneakers_us",
                            "type": "text",
                            "label": "US:"
                        },
                        {
                            "id": "sg_pres_sneakers_eur",
                            "type": "text",
                            "label": "EUR:"
                        }
                    ]
                }
            ]
        }
    {% endschema %}


.size-guide.mens_sneakers
    .size-guide__close
    .size-guide__hold
        - var closeGuide = '<svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 20 20"><g fill="none" stroke="var(--soft)"><circle cx="10" cy="10" r="10" stroke="none"/><circle cx="10" cy="10" r="9.5"/></g><path fill="var(--soft)" d="M14.218 6.736l-.823-.823-3.264 3.263-3.263-3.263-.823.823 3.263 3.263-3.263 3.264.823.823 3.263-3.264 3.263 3.263.823-.823-3.263-3.263z"/></svg>'
        .size-guide__title-close 
            .guide Size Guide: Mens Sneakers
            .close-guid !{closeGuide}
        ul.size-guide__items
            li.size-guide__cat
                span UK
                span US
                span EU
            | {% for block in section.blocks %}
            li.size-guide__each
                span {{ block.settings.sg_pres_sneakers_uk }}
                span {{ block.settings.sg_pres_sneakers_us }}
                span {{ block.settings.sg_pres_sneakers_eur }}
            | {% endfor %}
