@import '../partials/alias-mixins'

.heading
    font-family: var(--dharma)
    text-transform: uppercase
    font-size: 3rem
    line-height: 0.95
    @include desk
        font-size: 4rem

.parag , .parag > *
    font-size: 1.4rem
    line-height: 1.43
    margin: 1.2rem 0 0
    @include desk
        font-size: 1.6rem
        line-height: 1.38
        margin: 2.3rem 0 0
    



.page-article img
    height: 100%
    object-fit: cover
    width: 100%








//- =========================  HEADER  ========================= -//
//- =========================  HEADER  ========================= -//
header.header-article
    padding: 70px 0 0
    @include desk
        padding: 8.1rem 0 0
    


.header-article__title
    font-family: var(--dharma)
    font-size: 8rem
    line-height: .78
    @include desk
        font-size: 30rem
        margin: 0 0 0 -0.4rem
        letter-spacing: -0.45rem


ul.header-article__infos
    border-bottom: 1px solid var(--dark)
    border-top: 1px solid var(--dark)
    display: grid
    grid-template-columns: 70% 30%
    margin: 1rem 0
    padding: 1.1rem 0
    row-gap: 0.8rem
    @include desk
        display: grid
        grid-template-columns: auto auto auto auto 15rem
        margin: 0
        padding: 1.1rem 0 0.2rem
        position: relative


li.header-article__infos__each
    font-size: 1.4rem


li.header-article__infos__each > *
    margin: 0 0 0.6rem 0
    //
    margin: 0 0 0.9rem
    


ul.header-article__infos .recosemi
    text-transform: uppercase

li.header-article__infos__each.no-mobile
    @include desk
        justify-self: end

.header-article__img
    height: 32.6rem
    margin: 1.3rem 0 0
    position: relative
    @include desk
        margin: 2.9rem 0 0
        height: 66.9rem


.header-article__img img
    height: 100%
    object-fit: cover
    width: 100%


.share-btns
    position: relative

.share-btns__buttons
    display: flex
    gap: 0.6rem
    position: absolute !important
    top: 0
    transform: translateX(-9rem)
    //
    gap: 1.3rem

.share-btns__buttons a
    border-radius: 50%
    border: 1px solid var(--dark)
    height: 3.9rem
    width: 3.9rem
    overflow: hidden
    transition: .25s background ease-out
    &:hover
        background: var(--dark)

        svg path
            fill: var(--soft)




.move
    --space: .5rem
    --time: 2s
    align-items: center
    display: inline-flex
    height: 3.9rem
    justify-content: flex-start
    &:hover
        animation: marquee_share var(--time) infinite linear
        

.move svg
    flex-shrink: 0
    height: auto
    margin: -0.3rem 0 0 0
    padding: 0.9rem
    width: 3.9rem

        

.move svg + svg
    margin: -0.3rem -1rem 0 0

.move svg path
    transition: .25s fill ease-out
    
circle.circ-path
    display: none



@keyframes marquee_share
    0%
        transform: translateX(0)
    100%
        transform: translateX(-50%)



//- =========================  MAIN  ========================= -//
//- =========================  MAIN  ========================= -//

/*====  side side*/
main.main-article
    margin: 3.2rem 0 0
    overflow: hidden
    @include desk
        margin: 0


main.main-article section
    margin: 3.6rem 0
    @include desk
        margin: 6.2rem 0





/*===== img-text */

section.img-text
    @include desk
        display: flex
        justify-content: space-between

.title-text1 .parag
    margin: 2.3rem 0 0


.img-text__text
    @include desk
        width: 63.2rem


.img-text__text .heading
    margin: 2.4rem 0 0
    @include desk
        margin: 0


.img-text__img
    @include desk
        width: 63rem
        height: 40rem

.img-text-right
    @include desk
        flex-direction: row-reverse







/*====  side side*/
section.side-side
    flex-direction: column
    @include desk
        flex-direction: row
        justify-content: space-between


.side-side .side-side__2
    margin: 1.2rem 0 0
    @include desk
        margin: 0



.side-side > *
    @include desk
        width: 47.9%
        height: 66.8rem



/* === fullwidth img */
.full-width-img li
    margin: 1.2rem 0
    @include desk
        margin: var(--gap) 0



/* === quote */
section.quote
    padding: 0 1.7rem
    @include desk
        padding: 0 4rem


.quote .recosemi p
    font-size: 1.8rem
    line-height: 1.35
    @include desk
        font-size: 2.2rem


.quote-author
    margin: 0.9rem 0 0



.quote-author p
    @include desk
        font-size: 1.6rem


/* === embed */
section.embed li
    margin: 2.4rem 0 0
    @include desk
        margin: var(--gap) 0 0


section.embed iframe
    height: 54.2vw


