.page.page-acc( data-ispage="account", data-scroll-content) 
    header.header-acc.e-flex-col
        .state-form MY ACCOUNT


    main.main-acc
        section.acc-infos
            .acc-infos__hold.e-hold
                .indic-sec.t-serif  ACCOUNT INFORMATION
                span.acc-infos__name {{ customer.name | default: "customer" }}
                span.acc-infos__email.txt-hvr-blue {{ customer.email }}





        section.acc-order
            .acc-order__hold.e-hold
                .indic-sec.t-serif  ORDER HISTORY
                ul.order-list
                    li.order-list__rank
                        span ORDER
                        span FINANCIAL
                        span DATE
                        span STATUS
                        span SUBTOTAL
                    |   {% if customer.orders.size != 0 %}                
                    |   {% for order in customer.orders %}
                    li.order-list__each
                        //-p {{ order.customer_url }}
                        span {{ order.name | link_to: order.customer_url }}
                        span {{ order.financial_status | capitalize  }}
                        span {{ order.created_at | date: format: 'abbreviated_date' }}
                        span {{ order.fulfillment_status | capitalize  }}
                        span {{ order.line_items_subtotal_price | money  }}

                    |   {% endfor %}
                    |   {% else %}
                    p You haven't placed any orders yet.
                    |   {% endif %}


        section.acc-track
            .acc-track__hold.e-hold
                |   {% for line_item in order.line_items %}
                |   {% if line_item.fulfillment.tracking_number %}
                span TRACK NUMBER:   
                    a(href="{{ line_item.fulfillment.tracking_url }}").txt-hvr-blue  {{ line_item.fulfillment.tracking_number }}  
                |   {% endif %}
                |   {% endfor %}
        


        
        section.acc-wish
            .acc-wish__hold.e-hold
                .indic-sec.t-serif WISHLIST
                P View your wish list #[a(href="{{ shop.url }}/pages/wishlist", target="_blank").txt-hvr-blue here].

        
        //-aside.e-flex-col
            |   {% if shop.customer_accounts_enabled %}
            |   {% if customer %}
            |   {{ 'Log out'  | customer_logout_link }}
            |   {% else %}
            |   {{ 'Login ' | customer_login_link }}
            |   {{ 'Register' | customer_register_link }}
            |   {% endif %}
            |   {% endif %}




    | {% render  'myfooter' %}