.page.page-login(data-ispage="login", data-scroll-content)
    header
        p My account /
        .form-login.e-flex-col
            |{% form 'customer_login' %} {{ form.errors | default_errors }}
            input(type='email' name='customer[email]', placeholder="Email")
            input(type='password' name='customer[password]', autocomplete placeholder="Password")
            //-input(type='submit' value='Sign In')
            //-input(type='submit' value='Sign In')
            button(type="submit").btn-hover
                span.static SIGN IN
                span.hover(data-hover="SIGN IN SIGN IN ") SIGN IN SIGN IN 

            |{% endform %} 


        section.login-opt
            .login-opt__creat
                |   {% if shop.customer_accounts_enabled %} {% if customer  %} {% else %}
                |   {% if shop.customer_accounts_optional %}
                |       {{ 'Create an account' | customer_register_link }}
                |   {% endif %}
                |   {% endif %} {% endif %}

            .login-opt__forgot
                button Forgot password?

                .forgot-form.e-flex-col
                    |   {% form 'recover_customer_password' %} {{ form.errors | default_errors}}
                    input(type='email' name='email', placeholder=" Email Address")
                    input(type='submit' value='Submit')
                    |   {% endform %} 



    | {% render  'myfooter' %}