.page.page-login.page-customer(data-ispage="login", data-scroll-content)
    header.header-cust
        .state-form LOGIN
        .form-login.form-cust
            |{% form 'customer_login' %} {{ form.errors | default_errors }}
            input(type='email' name='customer[email]', placeholder="Email")
            input(type='password' name='customer[password]', autocomplete placeholder="Password")
            button(type="submit").btn-hover
                span.static SIGN IN
                span.hover(data-hover="SIGN IN SIGN IN ") SIGN IN SIGN IN 

            |{% endform %} 


        .create-forg
            .create-forg__creat
                |   {% if shop.customer_accounts_enabled %} {% if customer  %} {% else %}
                |   {% if shop.customer_accounts_optional %}
                a(href="{{ shop.url }}/account/register").recosemi.e-upper Don’t have an account? #[span.underline Sign Up]
                button.create-forg__forgot.underline Forgot Password?
                |   {% endif %}
                |   {% endif %} {% endif %}

            .forgot-form.e-flex-col
                |   {% form 'recover_customer_password' %} {{ form.errors | default_errors}}
                input(type='email' name='email', placeholder=" Email Address")
                button(type="submit").btn-hover
                    span.static SUBMIT
                    span.hover(data-hover="SUBMIT SUBMIT ") SUBMIT SUBMIT 
                |   {% endform %} 



    | {% render  'myfooter' %}