.page.page-reset.page-customer(data-ispage="reset", data-scroll-content)
    header.header-reset.e-flex-col
        .state-form RESET PASSWORD
        .form-reset.e-flex-col.form-cust
            |   {% form 'reset_customer_password' %} {{ form.errors | default_errors }}
            input(type='password' value='' name='customer[password]' size='16', placeholder="Password").input-cost
            input(type='password' value='' name='customer[password_confirmation]' size='16', placeholder="Password Confirmation").input-cost
            //-input(type='submit' value='Reset Password')
            button(type="submit").submit-cost.btn-hover
                span.static RESET PASSWORD
                span.hover(data-hover="RESET PASSWORD      RESET PASSWORD      ") RESET PASSWORD      RESET PASSWORD      
            |{% endform %} 


    | {% render  'myfooter' %}