.page.page-reset(data-ispage="reset", data-scroll-content)
    header.header-reset.e-flex-col
        p Reset Password /
        .form-reset.e-flex-col
            |   {% form 'reset_customer_password' %} {{ form.errors | default_errors }}
            input(type='password' value='' name='customer[password]' size='16', placeholder="Password").input-cost
            input(type='password' value='' name='customer[password_confirmation]' size='16', placeholder="Password Confirmation").input-cost
            input(type='submit' value='Reset Password').submit-cost
            |{% endform %} 


    | {% render  'myfooter' %}