
{% schema %}
    {
        "name": "ABOUT | We Are",
        "settings": [
            {
                "type": "text",
                "id": "text_title",
                "label": "Title",
                "default": "We are currently a single concept store located at the entrance of the city of Cape Town CBD occupying 330 square metres stocked with top level sneakers and apparel from some of the biggest brands in the world."
            },
            {
                "type": "image_picker",
                "id": "img_weare",
                "label": "Image"
            }
        ]
    }
{% endschema %}




<section class="weare">
  <div class="weare__hold">
    <div class="weare__image"><img class="img-load soft-border" src="{{ section.settings.img_weare | img_url: 'master' }}" alt="{{ section.settings.img_weare.alt | escape }}">
      <div class="weare__image__caption caption"><span>{{ section.settings.img_weare.alt | escape }}</span><span>01</span></div>
    </div>
    <div class="weare__text">
      <div class="weare__title dharma e-upper mid-t">{{ section.settings.text_title }}</div>
    </div>
  </div>
</section>