
{% schema %}
    {
        "name": "ABOUT | Big Text",
        "settings": [
            {
                "type": "text",
                "id": "big_text",
                "label": "Title",
                "default": "Nike arrived in the late 70’s/early 80’s"
            },
            {
                "type": "text",
                "id": "big_descr",
                "label": "Subtitle",
                "default": "Air Jordan following around 1988, making JACK LEMKUS one of the first stores in S.A to stock both brands."
            }
        ]
    }
{% endschema %}




<section class="big-text">
  <div class="big-text__hold">
    <div class="big-text__text">
      <div class="big-text__title dharma big-t">{{ section.settings.big_text }}</div>
      <div class="big-text__subtitle reco txt">{{ section.settings.big_descr }}</div>
    </div>
  </div>
</section>