
{% schema %}
    {
        "name": "ARTICLE | More Posts",
        "class": "art-blog",
        "settings": [
            {
                "id": "art-blog",
                "type": "blog",
                "label": "Posts"
            },
            {
                "id": "title-art",
                "type": "text",
                "label": "Title",
                "default": "MORE POSTS"
            }
        ]
    }
{% endschema %}
{% assign art = blogs[section.settings.art-blog] %}
<section class="blog-index">
  <div class="blog-index__hold e-hold">
    <div class="blog-index__cult-title">
      <h1 class="dharma">{{ section.settings.title-art }}</h1><a class="view-all-blog btn-hover no-mobile" href="{{ shop.url }}/blogs/news"><span class="static">VIEW ALL</span><span class="hover" data-hover="VIEW ALL VIEW ALL ">VIEW ALL VIEW ALL </span></a>
    </div>
    <ul class="blog-index__posts">
        {% for article in blog.articles limit: 4 %}
        {% render 'article-card' art: article %}
        {% endfor %}
    </ul><a class="view-all-blog btn-hover no-desk" href="{{ shop.url }}/blogs/news"><span class="static">VIEW ALL</span><span class="hover" data-hover="VIEW ALL VIEW ALL ">VIEW ALL VIEW ALL </span></a>
  </div>
</section>