{% assign cart_colle = collections[settings.cart_colle] %}
<section class="cart-colle">
  <div class="cart-colle__text dharma">{{ settings.text_cart_colle }}</div>
  <div class="cart-colle__hold mini-card">
    {% for item in cart_colle.products limit:4 %}
      {% render 'product-card' prod: item %}
    {% endfor %}
  </div>
</section>