
{% schema %}
    {
        "name": "CONTACT | Title",
        "settings": [
            {
                "type": "text",
                "id": "ctt_title",
                "label": "Title",
                "default": "DROP US A LINE"
            }
        ]
    }
{% endschema %}


<section class="ctt-title">
  <h1 class="dharma e-upper">{{ section.settings.ctt_title }}</h1>
</section>