
{% schema %}
    {
        "name": "CONTACT | Link",
        "settings": [
            {
                "type": "text",
                "id": "ctt_link_title",
                "label": "Title",
                "default": "CONTACT"
            }
        ],

        "name": "CONTACT | Links",
        "blocks": [
            {
                "name": "Link",
                "type": "text",
                "settings": [
                    {
                        "id": "ctt_link",
                        "type": "text",
                        "label": "Link:"
                    },
                    {
                        "id": "ctt_text",
                        "type": "text",
                        "label": "Text:"
                    }
                ]
            }
        ]
    }
{% endschema %}


<section class="ctt-links">
  <div class="ctt-links__hold e-hold">
    <div class="ctt-links___title ctt-subt">{{ section.settings.ctt_link_title }}</div>
    <ul class="ctt-links__items">{% for block in section.blocks %}
      <li class="ctt-links__each"><a class="underline" href="{{ block.settings.ctt_link }}" title="{{ block.settings.ctt_text }}">{{ block.settings.ctt_text }}</a></li>{% endfor %}
    </ul>
  </div>
</section>