
{% schema %}
    {
        "name": "WOMENS  | Size Guide",
        "blocks": [
            {
                "name": "Item",
                "type": "text",
                "settings": [
                    {
                        "id": "sg_womens_sneakers_uk",
                        "type": "text",
                        "label": "UK:"
                    },
                    {
                        "id": "sg_womens_sneakers_us",
                        "type": "text",
                        "label": "US:"
                    },
                    {
                        "id": "sg_womens_sneakers_eur",
                        "type": "text",
                        "label": "EUR:"
                    }
                ]
            }
        ]
    }
{% endschema %}






<div class="size-guide womens_sneakers">
  <div class="size-guide__hold">
    <div class="size-guide__title">Size Guide: Womens Sneakers</div>
    <ul class="size-guide__items">
      <li class="size-guide__cat"><span>UK</span><span>US</span><span>EU</span></li>{% for block in section.blocks %}
      <li class="size-guide__each"><span>{{ block.settings.sg_womens_sneakers_uk }}</span><span>{{ block.settings.sg_womens_sneakers_us }}</span><span>{{ block.settings.sg_womens_sneakers_eur }}</span></li>{% endfor %}
    </ul>
  </div>
</div>