@import '../partials/alias-mixins'

.cookies-table li
    display: flex
    width: 100%


.cookies-table li > *
    width: 50%
    padding: 0 0 0 2.3rem
    font-size: 2.4rem











//- =========================  SIZE GUIDE  ========================= -//
//- =========================  SIZE GUIDE  ========================= -//
.size-guide__title
    background: var(--dark)
    color: #fff
    font-family: var(--dharma)
    font-size: 2rem

.size-guide__cat
    background: var(--color)
    font-family: var(--dharma)

.size-guide li
    display: flex
    width: 100%


.size-guide li > *
    font-size: 2.4rem
    padding: 0 0 0 2.3rem
    width: 50%
