@import '../partials/alias-mixins'

.soon-index
    position: relative

    
.soon-index__coming
    left: 0
    top: 0
    width: 100%


.soon-index__coming__img
    height: 100%
    width: 100%


.soon-index__coming__img img
    height: 100%
    object-fit: cover
    width: 100%


.soon-index__coming__texts
    position: absolute
    top: 0
    z-index: 1

.soon-index__coming__texts a
    font-size: 9rem