@import '../partials/alias-mixins'


.page.page-index
    overflow-x: hidden


//toggle INTRO 
.intro .header-index__preloader
    @include desk
        z-index: 99
        position: fixed
        left: 0
        top: 0
        height: 100vh
        width: 100vw
        background: var(--soft)

.intro
    @include desk
        overflow: hidden
        pointer-events: none

header.header-index
    align-items: flex-end
    display: grid
    margin: 0
    padding: 70px 0 0
    @include desk
        padding: 0
        padding: 16.7rem 0 0 0
        z-index: 1
        position: relative
        transform: translateY(10.1rem)
        transition: transform .8s cubic-bezier(.16,1.08,.38,.98)
        will-change: transform


.header-index__hold
    border: 1px solid var(--dark)
    position: relative
    height: 28.4rem
    @include desk
        height: auto
        will-change: transform, opacity


.header-index__imgs
    height: 100%
    position: relative
    width: 100%
    @include desk
        display: flex
        align-items: center
        justify-content: center


.header-index__imgs__each
    height: 100%
    position: relative
    @include desk
        clip-path: inset(1% 1% 1% 1%)
        width: 22%
    


.header-index__imgs img
    height: 100%
    object-fit: cover
    width: 100%

.header-index__imgs__each:not(:first-child)
    position: absolute
    top: 0


.header-index__hl
    height: 100%
    left: 0
    position: absolute
    top: 0
    width: 100%
    //display: none


.header-index__hl__img
    height: 100%
    width: 100%
    
.header-index__hl__img a
    height: 100%
    width: 100%


.header-index__hl__img img
    height: 100%
    object-fit: cover
    width: 100%



.header-index__imgs, .header-index__hl__img
    @include desk
        height: 54.4rem
        will-change: clip-path


.header-index__hl__texts
    margin: 2rem 0 0 2rem
    position: absolute
    top: 0
    z-index: 1
    @include desk
        margin: 4.4rem 0 0 3rem

.header-index__hl__texts a
    font-size: 4.5rem
    @include desk
        font-size: 9rem
        margin: 1.9rem 0 0
        width: 61%
        letter-spacing: 0.12rem
        line-height: 0.84
        will-change: transform, opacity

.header-index__hl__texts span
    font-size: 1.2rem
    @include desk
        font-size: 1.6rem
        will-change: transform, opacity