@import '../partials/alias-mixins'

.soon-index
    border-top: 1px solid var(--dark)
    margin: -1px 0 0
    padding: 1.6rem 0 0
    position: relative
    @include desk
        border: none
        padding: 2.9rem 0 0


.soon-index__hold
    display: flex
    flex-direction: column-reverse

    
.soon-index__coming
    left: 0
    top: 0
    width: 100%


.soon-index__coming__img
    border: 1px solid var(--dark)
    height: 28.6rem
    width: 100%
    @include desk
        z-index: 1
        height: 54.4rem
        overflow: hidden


.soon-index__coming__img img
    height: 100%
    object-fit: cover
    width: 100%


.soon-index__coming__texts
    position: absolute
    top: 0
    z-index: 1
    margin: 2rem 0 0 2rem
    @include desk
        left: 1rem
        top: 2.5rem

.soon-index__coming__texts a
    font-size: 4.5rem
    line-height: 90%
    margin: 0.6rem 0 0
    width: 70%
    @include desk
        font-size: 9rem
        margin: 1.3rem 0 0

.soon-index__coming__texts span 
    font-size: 1.2rem
    @include desk
        font-size: 1.6rem

.page-index .dropping-card-regular .dropping-card__infos
    @include desk
        //width: 43.55rem

.page-index .dropping-card__bg
    @include desk
        //width: 93.1rem


h1.soon-index__title
    font-size: 8rem
    margin: .75rem 0 0 -0.2rem
    white-space: nowrap
    @include desk
        font-size: 30rem
        margin: 0.1rem 0 0 -0.9rem

.soon-index__coming__count
    @include desk
        pointer-events: none
        position: absolute
        right: var(--gap)
        top: 4.5rem
        --dark: #fff


a.view-all-card-soon
    @include desk
        font-size: 4rem
        position: relative
        transition: .2s color ease-out
        &:hover
            color: var(--color)
            &:after
                background-color: var(--color)
                transform: scaleX(0)
                transform-origin: right
                

.view-all-card-soon:after
    background-color: var(--dark)
    bottom: 0
    content: ''
    height: 2px
    left: 0
    position: absolute
    width: 100%
    transform: scaleX(1)
    transform-origin: left
    transition: .2s background-color ease-out, transform 0.6s cubic-bezier(0.16, 1, 0.3, 1)
    @include desk
        height: 6px
