.page.page-about(data-ispage="about", data-scroll-content)
    .page-about__hold.e-hold
        //- =========================  HEADER  ========================= -//
        //- =========================  HEADER  ========================= -//
        |   {% section 'about-header' %}


        main.main-about

            //- =========================  subheader  ========================= -//
            //- =========================  subheader  ========================= -//
            |   {% section 'about-subheader' %}



            //- =========================  bigtext  ========================= -//
            //- =========================  bigtext  ========================= -//
            |   {% section 'about-bigtext' %}



            //- =========================  weare  ========================= -//
            //- =========================  weare  ========================= -//
            |   {% section 'about-weare' %}
            

    | {% render  'myfooter' %}