.page.page-contact(data-barba="container", data-barba-namespace="contact", data-ispage="contact", data-scroll-content)
    main.main-contact

        //- =========================  title  ========================= -//
        //- =========================  title  ========================= -//
        |   {% section 'contact-title' %}



        //- =========================  location  ========================= -//
        //- =========================  location  ========================= -//
        |   {% section 'contact-location' %}



        //- =========================  ctt  ========================= -//
        //- =========================  ctt  ========================= -//
        |   {% section 'contact-ctt' %}



        //- =========================  hours  ========================= -//
        //- =========================  hours  ========================= -//
        |   {% section 'contact-hours' %}



        //- =========================  socials  ========================= -//
        //- =========================  socials  ========================= -//
        |   {% section 'contact-socials' %}



        //- =========================  text  ========================= -//
        //- =========================  text  ========================= -//
        |   {% section 'contact-text' %}


    |   {% render  'myfooter' %}



