.page.page-launches(data-ispage="launches", data-scroll-content)
    //- =========================  HEADER  ========================= -//
    //- =========================  HEADER  ========================= -//
    |   {% section 'launches-header' %}


    main.main-launches

        //- =========================  dropping-card-inv  ========================= -//
        //- =========================  dropping-card-inv  ========================= -//
        |   {% section 'dropping-card' %}



        //- =========================  colle  ========================= -//
        //- =========================  colle  ========================= -//
        |   {% section 'launches-colle' %}



        //- =========================  dropping-card  ========================= -//
        //- =========================  dropping-card  ========================= -//
        |   {% section 'dropping-card-inv' %}



        //- =========================  index-blog  ========================= -//
        //- =========================  index-blog  ========================= -//
        |   {% section 'index-blog' %}
        

    | {% render  'myfooter' %}