.page.page-wishlist(data-ispage="wishlist", data-scroll-content)

    .page-wishlist__hold.e-hold

        h1.wish-title.dharma WISHLIST 
        
        
        
        //- =========================  LIST ITEMS  ========================= -//
        //- =========================  LIST ITEMS  ========================= -//
        #ZoomyWishlistPage

    

    | {% render  'myfooter' %}
    script(src='https://zooomyapps.com/wishlist/ListWishlist.js' data-shop-id='{{shop.permanent_domain}}' data-customer-id='{{customer.id}}')

