
<div class="page page-article" data-ispage="article" data-scroll-content>
  {% assign content = article.content %}
  {% assign design = '' %}
  {% assign size = '' %}
  {% assign details = '' %}
  {% if article.content contains '---' %}
  {% assign content = article.content | split: '---' | first %}
  {% assign description_array = article.content | split: '---' %}
  {% assign articleInfoKeys = 'Design|Size|Details' | split: '|' %}
    {% for key in articleInfoKeys %}
    {% assign split_key = key | prepend: '~*~' | append: '~*~' %}
        {% if article.content contains split_key %}
            {% if key == 'Design' %}
                {% assign design = article.content | split: split_key | last | split: '---' | first %}
            {% elsif key == 'Size' %}
                {% assign size = article.content | split: split_key | last | split: '---' | first %}
            {% elsif key == 'Details' %}
                {% assign details = article.content | split: split_key | last | split: '---' | first %}
            {% endif %}
        {% endif %}
    {% endfor %}
  {% endif %}
  <div class="e-hvh e-wvw e-flex-col">
      {{ design }}
      {{ size }} 
      {{ details }} 
  </div>{% render  'myfooter' %}
</div>