
<div class="page page-blog" data-ispage="blog" data-scroll-content>
  <header class="header-blog">
    <div class="header-blog__hold e-hold">
      <button class="btn-hover cream-v"><span class="static">FILTER SEARCH</span><span class="hover" data-hover="FILTER SEARCH      FILTER SEARCH      ">FILTER SEARCH      FILTER SEARCH       </span></button>
    </div>
  </header>
  <main class="main-blog">
    <section class="blog-page">  {% paginate blog.articles by 6 %}
      <div class="blog-page__hold e-hold">
        <div class="blog-page__list">
            {% assign count = 0 %}
            {% for article in blog.articles  %}
            {% render 'article-card' art: article %}
            {% endfor %}
        </div>
        <div class="blog-page__paginate">
          <div class="blog-page__paginate__hold">
            {% if paginate.pages > 1 %}
            {%- for part in paginate.parts -%}
            <div class="blog-page__paginate__each"><a href="{{ part.url }}">
                <button class="e-serif t-dark e-rel e-curp"> {{ part.title }}
                  <div class="line-pagine line-static e-gray e-abs e-wp"></div>{%- if part.title == paginate.current_page -%}
                  <div class="line-pagine line-active e-color e-abs e-wp"></div>{%- endif -%}
                </button></a></div>{%- endfor -%}
            {% endif %}
          </div>
        </div>
      </div>  {% endpaginate %}
    </section>
  </main>{% render  'myfooter' %}
</div>