
<div class="page page-blog" data-ispage="blog" data-scroll-content>
  <header class="header-blog">
    <div class="header-blog__hold e-hold">
      <button class="btn-hover cream-v"><span class="static">FILTER SEARCH</span><span class="hover" data-hover="FILTER SEARCH      FILTER SEARCH      ">FILTER SEARCH      FILTER SEARCH       </span></button>
    </div>
  </header>
  <main class="main-blog">
    <section class="blog-page">  {% paginate blog.articles by 11 %}
      <div class="blog-page__hold e-hold">
        <div class="blog-page__list">
            {% assign count = 0 %}
            {% for article in blog.articles  %}
            {% render 'article-card' art: article %}
            {% endfor %}
        </div>{% if paginate.pages > 1 %}
        <div class="blog-page__paginate" data-currentpage="{{ paginate.current_page }}">
          <div class="blog-page__paginate__hold">{%- for part in paginate.parts -%}
            <div class="blog-page__paginate__each"><a href="{{ part.url }}">{%- if part.title == paginate.current_page -%}
                <button class="t-white"> {{ part.title }}</button>{%- else -%}
                <button> {{ part.title }}</button>{%- endif -%}</a></div>{%- endfor -%}
          </div>
        </div>{% endif %}
      </div>  {% endpaginate %}
    </section>
  </main>{% render  'myfooter' %}
</div>