
<div class="page page-blog" data-ispage="blog" data-scroll-content>
  <header></header>
  <main>
    <section class="blog-page">  {% paginate blog.articles by 3 %}
      <div class="blog-page__hold">
        <div class="blog-page__list">
            {% assign count = 0 %}
            {% for article in blog.articles limit: 4 %}
            {% render 'article-card' art: article %}
            {% endfor %}
          {% if paginate.pages > 1 %}
          {%- for part in paginate.parts -%}
          <div class="main-blog__paginate__each"><a href="{{ part.url }}">
              <button class="e-serif t-dark e-rel e-curp"> {{ part.title }}
                <div class="line-pagine line-static e-gray e-abs e-wp"></div>{%- if part.title == paginate.current_page -%}
                <div class="line-pagine line-active e-color e-abs e-wp"></div>{%- endif -%}
              </button></a></div>{%- endfor -%}
          {% endif %}
        </div>
      </div>  {% endpaginate %}
    </section>
  </main>{% render  'myfooter' %}
</div>