
<div class="page page-cart" data-ispage="cart" data-scroll-content>
  <div class="page-cart__content" data-cartcounter="{{ cart.item_count }}">
    <div class="cart__close">
      <div class="cart__close__hold">
        <div class="line line-0"></div>
        <div class="line line-1"></div>
      </div>
    </div>
    <div class="cart__summary">ORDER SUMMARY</div>  {% render 'cart-content' %}
  </div>{% render  'myfooter' %}
</div>