
<div class="page page-cart" data-ispage="cart" data-scroll-content>
  <div class="page-cart__content" data-cartcounter="{{ cart.item_count }}">
      {% section 'cart-collection' %}
      {% render 'cart-content' %}
  </div>{% render  'myfooter' %}
</div>