
<div class="page page-collection e-rel" data-ispage="collection" data-scroll-content>  {% section 'filter-prod' %}
  <header class="header-coll"> 
    <div class="header-coll__hold">
      <div class="header-coll__qty e-flex-col">
        <div class="header-coll__name">{{ collection.title }}</div>
      </div>
    </div>
  </header>
  <main class="main-collection">{% paginate collection.products by 18 %}
    <section class="products">
      <div class="products__hold colle-cards">
          {% for product in collection.products %}
          {% render 'product-card' prod: product %}
          {% else %}
        <p>No products in this collection</p>  {% endfor %}
      </div>
    </section>  {% endpaginate %}
  </main>{% render  'myfooter' %}
</div>