
<div class="page page-collection" data-ispage="collection" data-scroll-content>  {% section 'collection-filter' %}
  <main class="main-collection">
    <section class="products">
      <div class="products__hold">
        <div class="collection-title">{{ collection.title }}</div>  {% for product in collection.products %}
          {% render 'product-card' prod: product %}
          {% else %}
        <p>No products in this collection</p>  {% endfor %}
      </div>
    </section>
  </main>{% render  'myfooter' %}
</div>