
<div class="page page-index" data-ispage="index" data-scroll-content>
    {{ content_for_index }}
    {% section 'index-header' %}
  <main class="main-index">
      {% section 'index-cols' %}
      {{ content_for_index }}
      {% section 'index-dropped' %}
      {% section 'index-soon' %}
      {% section 'dropping-card-inv' %}
      {% section 'index-blog' %}
  </main>{% render  'myfooter' %}
</div>