
<div class="page page-contact" data-barba="container" data-barba-namespace="contact" data-ispage="contact" data-scroll-content>
  <main class="main-contact">
      {% section 'contact-title' %}
      {% section 'contact-location' %}
      {% section 'contact-ctt' %}
      {% section 'contact-hours' %}
      {% section 'contact-socials' %}
      {% section 'contact-text' %}
  </main>  {% render  'myfooter' %}
</div>