
<div class="page page-contact" data-barba="container" data-barba-namespace="contact" data-ispage="contact" data-scroll-content>
  <header>
    <h1 class="t-serif">Contact Page</h1>
  </header>  {% render  'myfooter' %}
</div>