
<div class="page page-launches" data-ispage="launches" data-scroll-content>  {% section 'launches-header' %}
  <main class="main-launches">
      {% section 'dropping-card' %}
      {% section 'launches-colle' %}
      {% section 'dropping-card-inv' %}
      {% section 'index-blog' %}
  </main>{% render  'myfooter' %}
</div>