
<div class="page page-about" data-ispage="about" data-scroll-content>  {% section 'about-header' %}
  <main class="main-about">
      {% section 'about-subheader' %}
      {% section 'about-bigtext' %}
      {% section 'about-weare' %}
  </main>{% render  'myfooter' %}
</div>