
<div class="page page-seach page-search" data-ispage="seach" data-scroll-content>
  <header class="header-search">
    <div class="header-search__hold e-hold">
      <div class="header-search__bar"><span class="dharma">LOOKING FOR SOMETHING?</span>
        <form action="/search" method="get" role="search">
          <input type="search" autocomplete="off" name="q" placeholder="Search by product, category or keyword" value="{{ search.terms | escape }}">
          <input type="hidden" name="type" value="product">
          <button class="submit" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 14.536 14.5"><defs><clipPath id="clip-path"><path id="Path_872" d="M273 1486.42a5.82 5.82 0 009.685 4.359l3.713 3.715a.351.351 0 00.5-.494l-3.716-3.716A5.825 5.825 0 10273 1486.42zm10.951 0a5.125 5.125 0 11-5.127-5.127 5.134 5.134 0 015.127 5.127z" class="cls-1" transform="translate(-273 -1480.593)"/></clipPath><clipPath id="clip-path-2"><path id="Rectangle_3103" d="M0 0h187.686v1159.996H0z" class="cls-1"/></clipPath><style></defs><g id="Group_136" transform="translate(.25 .25)"><g id="Group_1475"><g id="Group_1474" clip-path="url(#clip-path)"><g id="Group_135" transform="translate(-118.463 -636.347)"><g id="Group_1473"><g id="Group_1472" clip-path="url(#clip-path-2)"><g id="Group_134" transform="translate(117.911 635.792)"><path id="Path_4" fill="var(--soft)" stroke="var(--soft)" stroke-width=".5" d="M0 0h15.108v15.111H0z"/></g></g><path id="Rectangle_3104" d="M0 0h187.686v1159.996H0z" class="cls-1"/></g></g></g><path id="Path_873" stroke="var(--dark)" stroke-miterlimit="10" stroke-width=".5" d="M0 5.827a5.82 5.82 0 009.685 4.359l3.713 3.715a.351.351 0 00.5-.494l-3.716-3.716A5.825 5.825 0 100 5.827zm10.951 0A5.125 5.125 0 115.824.7a5.134 5.134 0 015.127 5.127z"/></g></g></svg></button><a class="erase-search" href="{{ shop.url }}/search" title="Search"><svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 20 20"><g fill="none" stroke="var(--dark)"><circle cx="10" cy="10" r="10" stroke="none"/><circle cx="10" cy="10" r="9.5"/></g><path fill="var(--dark)" d="M14.218 6.736l-.823-.823-3.264 3.263-3.263-3.263-.823.823 3.263 3.263-3.263 3.264.823.823 3.263-3.264 3.263 3.263.823-.823-3.263-3.263z"/></svg></a>
        </form>
      </div>  {% if search.results.size > 0 %}
      <div class="header-search__count"><span class="recosemi e-upper">{{ search.results_count }} RESULTS</span></div>  {% endif %}
    </div>
  </header>
  <main class="main-search">
      {% if search.performed %}
      {% assign searchsize = search.results.size %}
    <section class="products">
      <div class="products__hold search-cards {% if searchsize < 1 %} search-empty {% else %}{% endif %}">
          {% for item in search.results %}
          {% render 'product-card' prod: item %}
          {% else %}
        <div class="e-hold">
          <p>Your search for "{{ search.terms }}" did not yield any results.</p>
        </div>  {% endfor %}
      </div>
    </section>  {% endif %}
  </main>{% render  'myfooter' %}
</div>