@import '../partials/alias-mixins'



//- =========================  COLLECTION CARD  ========================= -//
//- =========================  COLLECTION CARD  ========================= -//

.colle-cards .prod-card__img__discount, .colle-cards .prod-card__img__nav, .sizes
    @include mobile
        display: none


.colle-cards
    display: grid
    grid-template-columns: 1fr 1fr
    @include tablet
        grid-template-columns: 1fr 1fr 1fr
    @include desk
        grid-template-columns: 1fr 1fr 1fr
    


.colle-cards .prod-card__each
    @include mobile
        --gap: 3.1rem
        height: 23.2rem
        margin: -1px 0 0
        width: 100%
        width: calc(50vw + 1px)
    @include tablet
        width: auto
        margin: -1px 0 0 -1px
    @include desk
        width: auto
        margin: -1px 0 0 -1px


.colle-cards a.prod-img
    @include mobile
        height: 15.8rem


.colle-cards .prod-card__img__logo
    @include mobile
        height: 1.9rem
        left: 1.3rem
        top: 1.1rem
        width: 1.9rem


.colle-cards .prod-card__notify
    @include mobile
        display: none
        font-size: 1.4rem
        height: 2.9rem
        margin: -0.6rem 0 0
        width: 100%


.colle-cards .prod-card__title a
    @include mobile
        font-size: 2.2rem


.colle-cards .prod-card__infos
    @include mobile
        height: 3.8rem
        margin: -2.9rem 0


.colle-cards .prod-card__prices span
    @include mobile
        font-size: 1.4rem


.colle-cards .prod-card__prices
    @include mobile
        margin: 0.3rem 0 0


.colle-cards .prod-card__each:nth-child(even)
    @include mobile
        margin: -1px 0 0 -1px


.colle-cards .prod-card__img__date
    display: flex !important
    font-size: 1rem
    top: 0.9rem
    right: 1rem
    height: 2rem
    width: 5.4rem
    @include desk
        font-size: 1.6rem
        height: 3.9rem
        right: 2rem
        top: 1.3rem
        width: 11.6rem

