@import './partials/alias-mixins'


#shopify-section-filter-prod
    background: var(--soft)
    height: calc(var(--vh) * 100)
    position: fixed
    width: 100vw
    z-index: 11
    @include desk
        height: calc(var(--vh)*100 - 11.5rem)
        position: absolute
        top: 11.5rem
        width: 45.43rem
        z-index: 2
    @include mobile
        display: none

.filter-prod
    height: 100%
    position: relative
    width: 100%


.filter-prod__hold
    @include desk
        width: calc(100% - var(--gap)*2)

.filter-prod__back
    border-bottom: 1px solid var(--dark)
    height: 55px




.filter-prod__title-clear
    @include desk
        align-items: center
        display: flex
        justify-content: space-between
        padding: 2.1rem 0 0


ul.filter-prod__actives
    display: flex
    flex-wrap: wrap
    gap: 0.9rem 1.2rem
    padding: 0.9rem 0
    padding: 1.6rem 0

span.dharma.txt-filtes
    @include desk
        font-size: 4rem


li.filter-prod__actives__each
    align-items: center
    background: var(--dark)
    border-radius: 50px
    color: var(--soft)
    display: flex
    font-family: var(--reco)
    gap: 1.5rem
    padding: 0.4rem 1rem
    padding: 0.5rem 1.2rem
    text-transform: uppercase
    @include desk
        padding: .5rem 0.8rem


.removeit
    width: 1.3rem


li.filter-prod__actives__each span
    color: var(--soft)
    font-size: 1.4rem
    text-transform: uppercase


button.clear-all
    font-family: var(--recosemi)
    font-size: 1.4rem
    text-decoration: underline
    @include desk
        font-size: 1.6rem
        margin: -1.15rem 0 0

.filter-prod__back button.btn-hover
    @include tablet
        font-size: 1.2rem
        height: 2.5rem
        width: 10.4rem



.filter-prod__hold__all
    height: calc(var(--vh)*61)
    overflow: hidden
    overflow-y: scroll


//- =========================  EEACH  

.filter-prod__each + .filter-prod__each
    margin: -1px 0 0

.filter-prod__each__cat
    align-items: center
    border-top: 1px solid var(--dark)
    display: flex
    font-family: var(--recosemi)
    font-size: 1.4rem
    justify-content: space-between
    padding: 1.7rem 0
    cursor: pointer

ul.filter-prod__items
    height: auto
    max-height: calc(var(--vh) * 35)
    overflow: hidden
    overflow-y: scroll

.filter-prod__items::-webkit-scrollbar
	background-color: rgba(0,0,0,0.05)
	border-radius: 10px
	width: 3px

.filter-prod__items::-webkit-scrollbar-thumb
	background-color: var(--color)
	border-radius: 50px

.filter-prod__items::-webkit-scrollbar-track
	border-radius: 10px

li.filter-prod__each
    display: flex
    align-items: center
    gap: 1.3rem
    font-size: 1.4rem
    font-family: var(--reco)

    

li.filter-prod__each + li.filter-prod__each
    margin: 2.2rem 0



.check
    width: 1.8rem
    height: 1.8rem
    display: flex
    align-items: center
    justify-content: center
    border: 1px solid rgba(0, 0, 0, .2)
    border-radius: 50%


.check svg
    width: 48%


.cat-filter-active
    padding-bottom: 1.7rem