.footer
    margin: 10.5rem 0 0 0
    padding: 0 0 7rem 0
    @include desk
        margin: 9.7rem 0 0
        padding: 0 0 1rem
    

.footer__hold
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    @include desk
        border-top: 1px solid #000
        flex-wrap: nowrap
        padding: 3.4rem 0 0 0