@import 'alias-mixins'











//- =========================  SPLIT TEXT  ========================= -//
//- =========================  SPLIT TEXT  ========================= -//

.js-split, .wrapped-line, .line-wrap
    overflow: hidden
    position: relative

.js-split div
    color: inherit
    will-change: transform




// =========================  BUTTON HOVER 
// =========================  BUTTON HOVER 
.btn-hover
    align-items: center
    background: var(--color)
    border-radius: 50px
    border: 1px solid var(--dark)
    cursor: pointer
    display: flex
    font-family: var(--recosemi)
    font-size: 1.6rem
    height: 3.9rem
    justify-content: flex-start
    overflow: hidden
    position: relative
    width: 11.9rem
    &:hover
        .static
            opacity: 0
            
        .hover
            opacity: 1


.btn-hover > *, .btn-hover-dark > *
    position: absolute

.btn-hover .static, .btn-hover-dark .static
    @include flex-center;
    height: 100%
    left: 0
    opacity: 1
    top: 0
    width: 100%

.btn-hover .hover, .btn-hover-dark .hover
    --space: .5rem
    --time: 10s
    animation: marquee var(--time) infinite linear
    //clip-path: inset(0% 3.5% 0% 3.5%)
    opacity: 0
    padding-right: var(--space)
    white-space: nowrap
    &:after
        content: attr(data-hover)
        padding-left: var(--space)

@keyframes marquee
    0%
        transform: translateX(0)
    100%
        transform: translateX(-50%)


//_______ DARK 
.dark-v
    background: var(--dark) !important

.dark-v span
    color: #fff !important

//_______ CREAM
.cream-v
    background: var(--soft) !important






//- =========================  nav  ========================= -//
//- =========================  nav  ========================= -//

.prod-card__img__nav
    align-items: center
    background-color: #fff
    border-radius: 50px
    border: 1px solid var(--dark)
    bottom: 8.5rem
    cursor: pointer
    display: flex
    height: 3.9rem
    justify-content: center
    position: absolute
    transition: background-color 0.3s ease-out
    width: 8.5rem
    z-index: 2

.prod-card__img__nav svg
    width: 2.98rem

.prod-card__img__nav svg:last-child
    position: absolute

.prod-card-img-prev
    left: 2.5rem

.prod-card-img-next
    right: 2.5rem



// hove prev
.prod-card-img-prev
    transform: rotate(180deg)
    &:hover
        background-color: var(--dark)
        .arrow path, .arrow-hover path
            fill: #fff
        .arrow path
            transform: translateX(30px)
            transition: transform 0.3s cubic-bezier(0, 0.41, 0, 0.98)
        .arrow-hover path
            transform: translateX(0px)
            transition: transform 0.5s cubic-bezier(0, 0.41, 0, 0.98)
            transition-delay: .15s
    
    .arrow path
        transition: fill 0.4s ease-out
        transition: transform 0 ease-none

    .arrow-hover path
        transform: translateX(-30px)
        transition: transform 0 ease-none


// hove next
.prod-card-img-next
    &:hover
        background-color: var(--dark)
        .arrow path, .arrow-hover path
            fill: #fff
        .arrow path
            transform: translateX(30px)
            transition: transform 0.3s cubic-bezier(0, 0.41, 0, 0.98)
        .arrow-hover path
            transform: translateX(0px)
            transition: transform 0.5s cubic-bezier(0, 0.41, 0, 0.98)
            transition-delay: .15s
    
    .arrow path
        transition: fill 0.4s ease-out
        transition: transform 0 ease-none

    .arrow-hover path
        transform: translateX(-30px)
        transition: transform 0 ease-none













//- =========================  COUNTDOWN  ========================= -//
//- =========================  COUNTDOWN  ========================= -//


.countdown
    display: flex
    justify-content: center
    width: 100%


ul.countdown__hold
    border: 1px solid var(--dark)
    width: 24.06rem
    @include desk
        width: 25.2rem



ul.countdown__hold > *
    display: flex
    justify-content: space-between


li.countdown__numbers span
    font-family: var(--dharma)
    font-size: 3rem
    padding: 0.8rem 0
    text-align: center
    width: 100%
    @include desk
        font-size: 4rem
        padding: .8rem 0 0.3rem



li.countdown__numbers
    border-bottom: 1px solid var(--dark)


li.countdown__numbers span + span
    border-left: 1px solid var(--dark)



li.countdown__infos span
    font-family: var(--recosemi)
    font-size: 0.9rem
    padding: 0.5rem 0
    text-align: center
    text-transform: uppercase
    width: 100%



li.countdown__infos span + span
    border-left: 1px solid var(--dark)













//- =========================  DRAG  ========================= -//
//- =========================  DRAG  ========================= -//


button.drag.recosemi
    align-items: center
    background: #fff
    border-radius: 50px
    border: 1px solid var(--dark)
    cursor: w-resize
    display: flex
    font-size: 1.6rem
    height: 3.9rem
    justify-content: center
    position: absolute
    width: 10.6rem
    z-index: 1


.drag__cntrl
    align-items: center
    display: flex
    position: relative
    width: calc(100vw - var(--gap) * 2)


.drag__cntrl__lines
    height: 1px
    position: relative
    width: 100%


.drag-line
    background: var(--dark)
    height: 100%
    width: 100%


.drag-line.line-static
    opacity: .1


.drag-line.line-dyna
    position: absolute
    top: 0
    width: 100%












//- =========================  DRAG  ========================= -//
//- =========================  DRAG  ========================= -//
.js-slider__holder
    @include mobile
        padding: 0 var(--gap)
        display: inline-flex !important
        width: auto !important



//- =========================  SLIDER  ========================= -//
//- =========================  SLIDER  ========================= -//

.js-slider-section
    position: relative

.js-slider-section:before
    background: var(--dark)
    content: ''
    height: 1px
    left: 0
    position: absolute
    top: 7.9rem
    width: 100%
    @include desk
        top: 29.9rem

.js-slider-section__holder
    display: inline-flex !important
    width: auto !important
    z-index: 1 !important

.js-slider-section .colle-cards
    padding: 0
    position: relative

.js-slider-section__holder .prod-card__each
    @include desk
        width: 45.7rem !important

.js-slider-section__holder .prod-card__each:last-child
    border-right: none

.js-slider-section__holder .prod-card__each:first-child
    border-left: none


.prods-article .js-slider-section:before
    top: -1px !important












//- =========================  HOVER IMGS  ========================= -//
//- =========================  HOVER IMGS  ========================= -//
.hover-img
    @include desk
        overflow: hidden
        cursor: pointer
        &:hover
            img
                transform: scale(1.02) !important

    img
        @include desk
            transform: scale(1)
            transition: transform 2.6s cubic-bezier(0.16, 1, 0.3, 1), filter .4s ease-out

.hover-img-mini
    @include desk
        overflow: hidden
        cursor: pointer
        &:hover
            img
                transform: scale(1.02) !important

    img
        @include desk
            transform: scale(1)
            transition: transform 2.6s cubic-bezier(0.16, 1, 0.3, 1), filter .4s ease-out













//- =========================  COLOR HOVERS  ========================= -//
//- =========================  COLOR HOVERS  ========================= -//

.ctt-links__each a, .ctt-social__items a
    @include desk
        transition: .2s color ease-out
        cursor: pointer
        &:hover
            color: var(--color)



.main-menu ul li a, .link-account, .link-wishlist, .link-search, .trg-cart, .article-card__title, .menu-dd__links a, .menu-dd__featured__title
    @include desk
        transition: .2s color ease-out
        cursor: pointer
        &:hover
            color: #f9b510

.trg-cart span
    color: inherit








//- =========================  ONSCENE  ========================= -//
//- =========================  ONSCENE  ========================= -//

.rotate-svg
	@include desk
		will-change: transform