@import './partials/alias-mixins'



//- =========================  LOGO MAIN  ========================= -//
//- =========================  LOGO MAIN  ========================= -//
a.logo-main
    left: calc(50vw - 3.65rem)
    position: fixed
    top: calc(var(--vh) * 3)
    width: 7.3rem
    z-index: 9
    @include desk
        left: calc(50vw - (14.7rem/2))
        width: 14.7rem
        top: calc(var(--vh) *  2.8)



//- =========================  MENU DROPDOWN  ========================= -//
//- =========================  MENU DROPDOWN  ========================= -//
.menu-dd
    height: 50vh
    position: fixed
    width: 100vw
    top: 0
    left: 0
    z-index: 9


.menu-dd__hold
    width: 100%
    height: 100%
    position: relative
    display: flex

.menu-dd__links
    @include serif

.menu-dd__all a 
    font-family: var(--recosemi)
    text-transform: uppercase
    

.menu-dd__featured
    height: 100%
    position: relative

.menu-dd__featured__hold
    display: flex
    height: 100%


.menu-dd__featured__each
    height: 100%
    position: relative
    width: 25vw


.menu-dd__featured__img
    height: 85%


.menu-dd__featured__each img
    width: 100%
    height: 100%
    object-fit: cover


.menu-dd__featured__title
    font-family: var(--recosemi)



.cart-counter, .trg-cart
    display: inline-block





//- =========================  FIXED LINKS  ========================= -//
//- =========================  FIXED LINKS  ========================= -//
.cape-hour , .menu-search-bag , .menu-acc-wish
    font-family: var(--openbold)
    text-transform: uppercase
    button, a, span
        font-family: var(--openbold)








//- =========================  MAIN MENU  ========================= -//
//- =========================  MAIN MENU  ========================= -//
nav.main-menu

.main-menu .item
    font-family: var(--openbold)
    text-transform: uppercase
    @include desk
        cursor: pointer




//- =========================  COOKIES  ========================= -//
//- =========================  COOKIES  ========================= -//
.cookies
    display: none
    background: var(--color)
    bottom: 0
    left: 0
    padding: 15px 0 20px
    position: fixed
    width: 100vw
    z-index: 8


.cookies__hold
    width: calc(100% - 20px)
    @include desk
        align-items: center
        flex-direction: row-reverse

.cookies__hold > *
    color: #fff
    font-family: var(--sans)
    text-align: center


.cookies__text
    font-size: 1.3rem
    font-weight: 600
    line-height: 138%
    @include tablet
        font-size: 0.8rem
        width: 70%
    @include desk
        font-size: 1.45rem
        line-height: 1.8rem
        margin: 0 2rem 0 0
        width: auto


.cookies__close
    font-size: 23px
    font-weight: 200
    padding: 0 0 0.9rem 0
    @include desk
        cursor: pointer
        padding: 0.4rem 1.4rem 0
    
.zoomywishid.zoomywishid-
    position: absolute
    border: 1px solid red
    z-index: 1
    width: 5rem
    height: 5rem