@import './partials/alias-mixins'



//- =========================  BG MENU  ========================= -//
//- =========================  BG MENU  ========================= -//
.bg-fixed-els
    background: var(--soft)
    border-bottom: 1px solid var(--dark)
    height: 55px
    left: 0
    position: fixed
    top: 0
    z-index: 8
    width: 100vw
    @include desk
        height: 5rem


//- =========================  LOGO MAIN  ========================= -//
//- =========================  LOGO MAIN  ========================= -//
a.logo-main
    left: var(--gap)
    position: fixed
    top: 20px
    width: 100px
    z-index: 9
    @include desk
        top: 1.8rem
        width: 12.6rem


.cart-counter, .trg-cart
    display: inline-block
    z-index: 9


.menu-trg
    @include flex-center
    border-left: 1px solid var(--dark)
    box-sizing: border-box
    height: 55px
    position: fixed
    right: 0
    top: 0
    width: 65px
    z-index: 9


.menu-trg__hold
    width: 24px

.menu-trg .line
    width: 100%
    height: 1px
    background: var(--dark)

.menu-trg .line + .line
    margin: 6px 0 0


//- =========================  FIXED LINKS  ========================= -//
//- =========================  FIXED LINKS  ========================= -//
.cape-hour , .menu-search-bag , .menu-acc-wish
    font-family: var(--openbold)
    text-transform: uppercase
    z-index: 9
    @include desk
        font-size: 1.4rem
        top: 1.9rem

    button, a, span
        font-family: var(--openbold)

.menu-search-bag 
    display: inline-block
    font-size: 12.1px
    position: fixed
    right: 86px
    top: 21px
    @include desk
        font-size: 1.4rem
        right: var(--gap)
        top: 1.9rem

button.trg-search
    margin: 0 16px 0 0
    padding: 0
    @include desk
        margin: 0 2.4rem 0 0



.menu-acc-wish
    @include desk
        right: 18.5rem
        position: fixed

.menu-acc-wish a
    @include desk
        display: inline-block



.menu-acc-wish a:first-child
    @include desk
        margin: 0 2.8rem 0 0






.cape-hour
    @include desk
        display: flex
        gap: 1rem
        left: var(--gap)
        position: fixed
        top: 1.8rem


nav.main-menu
    @include desk
        left: 24.7rem
        position: fixed
        top: 1.8rem
        z-index: 9




.main-menu ul
    @include desk
        display: flex
        gap: 3.8rem


.main-menu .item
    @include desk
        font-size: 1.4rem



//- =========================  MAIN MENU  ========================= -//
//- =========================  MAIN MENU  ========================= -//
nav.main-menu

.main-menu .item
    font-family: var(--openbold)
    text-transform: uppercase
    @include desk
        cursor: pointer








//- =========================  TOP BAR  ========================= -//
//- =========================  TOP BAR  ========================= -//
.top-bar
    height: 4rem
    left: 0
    position: fixed
    top: 0
    width: 100vw
    z-index: 9
    display: none

.top-bar__hold
    @include flex-center
    height: 100%
    position: relative
    width: 100%

.top-bar__text 
    @include serif
    font-size: 1.4rem
    text-align: center

.top-bar__close
    cursor: pointer
    height: 2rem
    position: absolute
    right: var(--gap)
    width: 2rem
    &:hover
        svg g
            fill: #fff

        svg path
            fill: var(--dark)
        


.top-bar__close svg
    width: 80%
    height: 80%

.top-bar__close svg g
    transition: .3s fill ease-out

.top-bar__close svg path
    transition: .3s fill ease-out


.is-topbar
    display: block

.is-topbar .top-bar
    display: block
    
.is-topbar .el-fix
    transform: translateY(4rem)


//- =========================  MENU DROPDOWN  ========================= -//
//- =========================  MENU DROPDOWN  ========================= -//
.menu-dd
    height: 50vh
    position: fixed
    width: 100vw
    top: 0
    left: 0
    z-index: 9


.menu-dd__hold
    width: 100%
    height: 100%
    position: relative
    display: flex

.menu-dd__links
    @include serif

.menu-dd__all a 
    font-family: var(--recosemi)
    text-transform: uppercase
    

.menu-dd__featured
    height: 100%
    position: relative

.menu-dd__featured__hold
    display: flex
    height: 100%


.menu-dd__featured__each
    height: 100%
    position: relative
    width: 25vw


.menu-dd__featured__img
    height: 85%


.menu-dd__featured__each img
    width: 100%
    height: 100%
    object-fit: cover


.menu-dd__featured__title
    font-family: var(--recosemi)







//- =========================  COOKIES  ========================= -//
//- =========================  COOKIES  ========================= -//
.cookies
    display: none
    background: var(--color)
    bottom: 0
    left: 0
    padding: 15px 0 20px
    position: fixed
    width: 100vw
    z-index: 8


.cookies__hold
    width: calc(100% - 20px)
    @include desk
        align-items: center
        flex-direction: row-reverse

.cookies__hold > *
    color: #fff
    font-family: var(--sans)
    text-align: center


.cookies__text
    font-size: 1.3rem
    font-weight: 600
    line-height: 138%
    @include tablet
        font-size: 0.8rem
        width: 70%
    @include desk
        font-size: 1.45rem
        line-height: 1.8rem
        margin: 0 2rem 0 0
        width: auto


.cookies__close
    font-size: 23px
    font-weight: 200
    padding: 0 0 0.9rem 0
    @include desk
        cursor: pointer
        padding: 0.4rem 1.4rem 0
    
.zoomywishid.zoomywishid-
    position: absolute
    border: 1px solid red
    z-index: 1
    width: 5rem
    height: 5rem