@import './partials/alias-mixins'
.minicart__fader
    background: #C4C4C4
    height: 100vh
    left: 0
    opacity: 0
    visibility: hidden
    position: fixed
    top: 0
    width: 100vw
    z-index: 10
    transition: .6s opacity ease-out

.minicart
    background: var(--color)
    height: calc(var(--vh) * 100)
    overflow: hidden
    overflow-y: auto
    position: fixed
    right: 0
    top: 0
    z-index: 10
    transform: translateX(100%)
    transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1)
    width: 100vw
    @include desk
        width: 79.1rem

.is-minicart .minicart
    transform: translateX(0%)

.is-minicart .minicart__fader
    visibility: visible
    opacity: .48












//- =========================  CART PAGE  ========================= -//
//- =========================  CART PAGE  ========================= -//
.page-cart
    overflow-x: hidden
.page-cart__content
    @include desk
        display: flex
        justify-content: space-between


.page-cart__content > *
    @include desk
        width: 45%


.page.page-cart
    padding: 73px 0 0


.page-cart__items__bag-close
    display: flex
    justify-content: space-between


.page-cart__items__bag-close .dharma
    font-size: 3rem


.page-cart__items__bag-close .e-sans
    font-size: 1.3rem
    font-family: var(--opensemi)












//- =========================  CART ITEM  ========================= -//
//- =========================  CART ITEM  ========================= -//

form.cart
    margin: 2.7rem 0 0


li.cart__each img
    width: 10.2rem
    height: 10.2rem
    border: 1px solid var(--dark)


li.cart__each
    display: grid
    grid-template-areas: "img title remove" "img size ." "img price qty"
    grid-template-columns: 11.5rem 13.1rem 10rem
    padding: 15px 0
    @include tablet
        grid-template-columns: 11.5rem 45rem auto


li.cart__each + li.cart__each
    border-top: 1px solid var(--dark)



a.item-img
    grid-area: img

a.item-title
    font-family: var(--dharma)
    font-size: 2.4rem
    grid-area: title

p.item-size
    font-size: 1.2rem
    grid-area: size
    margin: -1.3rem 0 0

p.item-size span
    display: inline-block

button.item-remove
    align-self: flex-start
    grid-area: remove
    justify-self: end

p.item-price
    align-self: flex-end
    grid-area: price
    font-family: var(--recosemi)

p.item-total-price
    grid-area: total-price

input#Quantity 
    border: none !important
    height: 0
    margin: 0
    overflow: hidden
    padding: 0
    position: absolute
    visibility: hidden
    width: 0

fieldset.item-qty
    align-items: center
    align-self: flex-end
    border-radius: 50px
    border: 1px solid var(--dark)
    display: flex
    grid-area: qty
    height: 30px
    justify-content: space-around
    width: 100%

fieldset.item-qty button
    padding: 15%












//- =========================  CART INFOS  ========================= -//
//- =========================  CART INFOS  ========================= -//
.cart__infos__estimated
    border-top: 1px solid var(--dark)
    border-bottom: 1px solid var(--dark)
    display: flex
    justify-content: space-between
    padding: 1.2rem 0
    text-transform: uppercase

.cart__infos__btns
    margin: 3rem 0

.cart__infos__btns > *
    width: 100%
    text-transform: uppercase

.cart__infos__btns a
    margin: 1.8rem 0 0








//- =========================  CART COLLECTION  ========================= -//
//- =========================  CART COLLECTION  ========================= -//


section.cart-colle
    margin: 3.3rem 0 0



.cart-colle__hold
    display: flex


.cart-colle__text
    margin: 0 0 0 var(--gap)
    font-size: 3rem