@import './partials/alias-mixins'
.collect-index__hold
    display: flex
    flex-wrap: nowrap



.prod-card__each
    --gap: 4.7rem
    align-items: center
    border: 1px solid
    display: flex
    flex-shrink: 0
    height: 53.5rem
    justify-content: center
    position: relative
    width: 45.53rem

.prod-card__hold
    height: calc(100% - var(--gap))
    width: calc(100% - var(--gap))

.prod-card__imgs
    height: 100%
    position: relative

ul.prod-card__imgs__hold
    height: 100%
    position: relative
    width: 100%


a.prod-img
    height: 41.4rem
    width: 100%

li.prod-card__img__each
    height: 100%
    width: 100%


.prod-card__img__each:not(:first-child)
    left: 0
    position: absolute
    top: 0

    

.prod-card__img__each:first-child
    position: relative
    z-index: 1

.prod-card__img__each img
    height: 100%
    object-fit: cover
    width: 100%






//- =========================  logo  ========================= -//
//- =========================  logo  ========================= -//
.prod-card__img__logo
    left: 2.5rem
    position: absolute
    top: 3.1rem
    width: 4.57rem
    z-index: 2





//- =========================  nav  ========================= -//
//- =========================  nav  ========================= -//
.prod-card__img__nav
    align-items: center
    border-radius: 50px
    border: 1px solid var(--dark)
    bottom: 8.5rem
    cursor: pointer
    display: flex
    height: 3.9rem
    justify-content: center
    position: absolute
    width: 8.4rem
    z-index: 2

.prod-card__img__nav svg
    width: 2.98rem

.prod-card__img__nav svg:last-child
    position: absolute

.prod-card-img-prev
    left: 2.5rem

.prod-card-img-next
    right: 2.5rem





//- =========================  sizes  ========================= -//
//- =========================  sizes  ========================= -//

.sizes
    display: flex
    flex-wrap: wrap
    gap: 1.8rem
    height: 5.8rem
    margin: 1.3rem 0 0 0
    overflow: hidden
    opacity: 0

.sizes span
    font-family: var(--recosemi)
    font-size: 2rem










//- =========================  INFOS  ========================= -//
//- =========================  INFOS  ========================= -//

.prod-card__infos
    height: 5.8rem
    margin: -5.8rem 0
    z-index: 1

.prod-card__title a
    font-size: 4rem
    overflow: hidden
    text-transform: uppercase
    white-space: nowrap

.prod-card__prices span
    font-family: var(--recosemi)
    font-size: 2rem