@import './partials/alias-mixins'

.sale-price, .regular-price
    font-family: var(--recosemi)

section.collect-index

.collect-index__hold, .soon-collect-index__hold
    display: flex
    flex-wrap: nowrap

.products__each
    width: 42.5rem
    flex-shrink: 0

a.prod-img
    width: 100%
    height: 51vh

a.prod-img img
    width: 100%
    height: 100%
    object-fit: cover

.products__each + .products__each
    margin: 0 0 0 var(--gap)

.prod-infos__title a
    font-size: 4rem

section.collect-index
    padding: 0 0 0 var(--gap)

.sizes
    display: flex
    gap: 0.7rem
