@import 'alias-mixins'

.is-safari input
    border-radius: 0
    -webkit-appearance: none

//dropping cards
.is-safari .dropping-card-regular .dropping-card__infos
    @include desk
        width: calc(45.7rem + 1px)


.is-safari .main-launches .dropping-card-regular .dropping-card__infos
    @include desk
        width: calc(45.6rem + 1px)

.is-safari .dropping-card-regular .dropping-card__infos
    @include desk
        width: calc(45.3rem + 1px)




.is-safari .main-prod .dropping-card__bg
    @include desk
        width: 66.76%

.is-safari .cross-sell__hold.colle-cards .prod-card__each
    @include desk
        width: calc(33.53vw)

//launches
.is-safari .header-laun__colle__hold .prod-card__each + .prod-card__each
    margin: 0 0 0 var(--gap)

//blog
.is-safari ul.blog-index__posts
    @include mobile
        display: inline-flex

.is-safari .blog-index__posts .article-card__each + .article-card__each
    @include mobile
        margin: 0 0 0 2.5rem !important


//pagination
.is-safari .blog-page__paginate__each + .blog-page__paginate__each
    margin: 0 0 0 1.9rem

.is-safari .colle__paginate__each + .colle__paginate__each
    margin: 0 0 0 1.9rem


.is-safari .card-sale .regular-price
    margin: 0 1rem 0 0 
    @include desk
        margin: 0 1.6rem 0 0 


//filter collections
.is-safari .removeit
    margin: 0 0 0 1rem

.is-safari li.filter-prod__actives__each
    margin: 1rem  1.5rem 0 0

.is-safari .filter-prod__each .check
    margin: 0 1.3rem 0 0


//sizes product page
.is-safari .ctn-variants fieldset
    margin: 0.9rem 1.89rem 0 0
    @include desk
        margin: 1.5rem 2.13rem 0 0

.is-safari .ctn-variants fieldset:nth-child(4n)
    @include mobile
        margin: 0.9rem 0 0 0


.is-safari .ctn-variants fieldset:nth-child(6n)
    @include desk
        margin: 1.5rem 0 0 0

.is-safari button#add-to-cart-button
    @include desk
        width: 59.6%


//menu dd
.is-safari .menu-dd__links > *
    @include desk
        margin: 0 12rem 0 0


//erase search
.is-safari .erase-search
    top: 0.1rem

//sizes prod card
.is-safari .sizes span
    @include desk
        margin: 0 1.8rem 0 0

//sort by
.is-safari .header-coll__sort-by select
    @include desk
        width: 18.5rem

//item mini cart
.is-safari .minicart li.cart__each
    @include desk
        grid-template-columns: 11.8rem 36rem
        padding: 0 0.1rem 0 0


.is-safari .page-customer input
    padding-left: 0
    